<main class="main-student" *transloco="let t; read: 'blok3'">
    <h1
        class="student-page-h1-title">
        {{ t('title') }}
    </h1>
    <article
        class="student-info-block">
        <span [innerHTML]="t('info.description1')"></span>
    </article>
    <div class="video-div"><iframe class="video"
            src="https://www.youtube.com/embed/LI_4v__IVTg" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe></div>
    <article
        class="assignment">

        <h2 class="student-page-h2-title">{{ t('info.theoryTitle') }}</h2>
        <section [innerHTML]="t('info.theoryDesc1')">

        </section>
        <img class="student-img"src="images/blok3-1.jpeg" alt="klient-server" (click)="modalService.open('images/blok3-1.jpeg')">
 <section [innerHTML]="t('info.theoryDesc2')">
        </section>
  <section [innerHTML]="t('info.theoryDesc3')">
        </section>
<span [innerHTML]="t('info.theoryDesc4')"></span>
        <img class="student-img" src="images/blok3-2.jpeg" alt="konzola príkaz ping" (click)="modalService.open('images/blok3-2.jpeg')">
    </article>
    <article
        class="assignment">
        <h2 class="student-page-h2-title">{{ t('info.assignmentTitle') }}</h2>
        <ol class="list space-y-2" [innerHTML]="t('info.assignmentDesc1')"></ol>

        <section [innerHTML]="t('info.assignmentDesc2')"></section>
    </article>
    <article
        class="assignment">
        <h2 class="student-page-h2-title">{{ t('tasks.sockets.title') }}</h2>
        <section [innerHTML]="t('tasks.sockets.description1')">
        </section>
        <div
            class="copy-code">
            <pre #text1>
#include &lt;stdio.h&gt;
#include &lt;winsock2.h&gt;
#include &lt;ws2tcpip.h&gt;

#pragma comment(lib, "Ws2_32.lib")
        </pre>
<app-copy-button [sourceElement]="text1"></app-copy-button>
        </div>
        <section [innerHTML]="t('tasks.sockets.description2')">
        </section>
    </article>
    <article
        class="assignment">
        <h2 class="student-page-h2-title">{{ t('tasks.step1.title') }}</h2>
        <section [innerHTML]="t('tasks.step1.description')">
        </section>
        <div
            class="copy-code">
            <pre #text2>
//uvodne nastavovacky


WSADATA wsaData; //struktura WSADATA pre pracu s Winsock
int iResult;

// Initialize Winsock
iResult = WSAStartup(MAKEWORD(2, 2), &wsaData); //zakladna inicializacia
if (iResult != 0) //kontrola, ci nestala chyba
&#123;

printf("WSAStartup failed: %d\n", iResult);
return 1;
&#125;


struct addrinfo *result = NULL, *ptr = NULL; //struktura pre pracu s adresami
struct addrinfo hints;

ZeroMemory(&hints, sizeof(hints));
hints.ai_family = AF_UNSPEC;
hints.ai_socktype = SOCK_STREAM;
hints.ai_protocol = IPPROTO_TCP; //pracujeme s protokolom TCP/IP

// Resolve the server address and port
iResult = getaddrinfo("tu ma byt IP adresa servera", "tu ma byt port", &hints, &result);
if (iResult != 0) //kontrola, ci nenastala chyba
&#123;
printf("getaddrinfo failed: %d\n", iResult);
WSACleanup();
return 1;
&#125;
else
printf("getaddrinfo didn't fail…\n");
        </pre>
<app-copy-button [sourceElement]="text2"></app-copy-button>
        </div>
    </article>
    <article
        class="assignment">
        <h2 class="student-page-h2-title">{{ t('tasks.step2.title') }}</h2>
        <section [innerHTML]="t('tasks.step2.description')">
        </section>
        <div
            class="copy-code">
            <pre #text3>
//vytvorenie socketu a pripojenie sa

SOCKET ConnectSocket = INVALID_SOCKET;

// Attempt to connect to the first address returned by
// the call to getaddrinfo
ptr = result;

// Create a SOCKET for connecting to server => pokus o vytvorenie socketu
ConnectSocket = socket(ptr->ai_family, ptr->ai_socktype,ptr->ai_protocol);

if (ConnectSocket == INVALID_SOCKET) //kontrola, ci nenastala chyba
&#123;
printf("Error at socket(): %ld\n", WSAGetLastError());
freeaddrinfo(result);
WSACleanup();
return 1;
&#125;
else
printf("Error at socket DIDN'T occur…\n");

// Connect to server. => pokus o pripojenie sa na server

iResult = connect(ConnectSocket, ptr->ai_addr, (int)ptr->ai_addrlen);
if (iResult == SOCKET_ERROR) //kontrola, ci nenastala chyba
printf("Not connected to server…\n");
else
printf("Connected to server!\n");

if (iResult == SOCKET_ERROR) //osetrenie chyboveho stavu
&#123;
closesocket(ConnectSocket);
ConnectSocket = INVALID_SOCKET;
WSACleanup();
return 1;
&#125;

Sleep(250);
        </pre>
<app-copy-button [sourceElement]="text3"></app-copy-button>
        </div>
    </article>
    <article
        class="assignment">
        <h2 class="student-page-h2-title">{{ t('tasks.step3.title') }}</h2>
        <section [innerHTML]="t('tasks.step3.description')">
        </section>
        <div
            class="copy-code">
            <pre #text4>
//posielanie

char sendbuf[/*treba zavolit vhodnu velkost, napr. 4096*/]; //buffer (v zasade retazec), kam sa
budu
ukladat data, ktore chcete posielat

iResult = send(ConnectSocket, sendbuf, (int)strlen(sendbuf), 0);
if (iResult == SOCKET_ERROR)
&#123;
printf("send failed: %d\n", WSAGetLastError());
closesocket(ConnectSocket);
WSACleanup();
return 1;
&#125;

printf("Bytes Sent: %ld\n", iResult); //vypisanie poctu odoslanych dat

        </pre>
<app-copy-button [sourceElement]="text4"></app-copy-button>
        </div>
    </article>
    <article
        class="assignment">
        <h2 class="student-page-h2-title">{{ t('tasks.step4.title') }}</h2>
        <section [innerHTML]="t('tasks.step4.description')">
        </section>
        <div
            class="copy-code">
            <pre #text5>
//prijimanie

#define DEFAULT_BUFLEN 4096 //makro, kde definujeme velkost prijimacieho buffera

int recvbuflen = DEFAULT_BUFLEN;
char recvbuf[DEFAULT_BUFLEN];

iResult = recv(ConnectSocket, recvbuf, recvbuflen, 0); //funkcia na príjimanie

if ( iResult > 0 )
printf("Bytes received: %d\n", iResult); //prisli validne data, vypis poctu
else if ( iResult == 0 )
printf("Connection closed\n"); //v tomto pripade server ukoncil komunikaciu
else
printf("recv failed with error: %d\n", WSAGetLastError()); //ina chyba
        </pre>
<app-copy-button [sourceElement]="text5"></app-copy-button>
        </div>
    </article>
    <article
        class="assignment">
        <h2 class="student-page-h2-title">{{ t('tasks.step5.title') }}</h2>

        <section [innerHTML]="t('tasks.step5.description')">
        </section>
        <div
            class="copy-code">
            <pre #text6>
//zavretie socketu

closesocket(ConnectSocket);
WSACleanup();
        </pre>
<app-copy-button [sourceElement]="text6"></app-copy-button>
        </div>

    </article>

    <article
        class="assignment">
        <h2 class="student-page-h2-title">{{ t('tasks.tips.title') }}</h2>
        <section [innerHTML]="t('tasks.tips.description1')">
            
        </section>
        <section [innerHTML]="t('tasks.tips.description2')">            
        </section>
        <section [innerHTML]="t('tasks.tips.description3')">

        </section>
    </article>
    <article class="assignment">
        <h2 class="student-page-h2-title">{{ t('tasks.grading.title') }}</h2>
        <span [innerHTML]="t('tasks.grading.description')"></span>
    </article>
</main>