<main class="main-student">
    <h1
        class="student-page-h1-title">
        Blok 3
    </h1>
    <article
        class="student-info-block">
        V treťom bloku cvičení budeme komunikovať naprieč internetom so serverom. Vašou úlohou bude naprogramovať
        "klientský program" schopný posielať a prijímať textové správy. Jedná sa o jeden rozsiahlejší projekt, ktorý
        budete riešiť počas celého tretieho bloku. V prvej fáze budete mať za úlohu pripojiť sa na server a
        identifikovať sa svojím osobným číslom. Ďalej musíte vedieť prijať správu zo servera a zobraziť ju na obrazovke.
        Ak sa Vám to podarí, tak Vás Morfeus osloví Vaším vlastným menom a zadá Vám úlohy, ktoré musíte splniť. Ak sa
        Vám podarí všetky splniť, plný počet 12 bodov za tretí blok je Váš :).
    </article>
    <div class="video-div"><iframe class="video"
            src="https://www.youtube.com/embed/LI_4v__IVTg" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe></div>
    <article
        class="assignment">

        <h2 class="student-page-h2-title">NUTNÝ MALÝ TEORETICKÝ ÚVOD</h2>
        <section>
            Komunikácia počítačov cez internet je veľmi zjednodušene povedané len posielanie jednotiek a núl z Vášho
            počítača na počítač na druhej strane a opačne. Je to samozrejme oveľa sofistikovanejšie, no pre potreby
            tohto
            projektu Vám stačí vedieť, že budete komunikovať prostredníctvom protokolu TCP/IP, ktorý zabezpečuje, aby sa
            Vaše jednotky a nuly dostali na počítač na druhej strane v poriadku.
        </section>
        <img class="student-img"src="images/blok3-1.jpeg" alt="klient-server">
        <section>
            Aby Váš počítač vedel, na ktorý počítač z miliónov strojov na celom svete má dáta poslať, musí existovať
            nejaký
            systém adresovania. Funguje to podobne ako pošta - obálka Vám príde na konkrétnu ulicu, do konkrétnej
            schránky.
            Z hľadiska tejto analógie je v prípade internetu ulica a číslo domu tzv. IP adresa, a konkrétna schránka v
            rámci
            domu sa nazýva port. Tak ako v paneláku býva viacero ľudí, tak aj vo Vašom počítači môže bežať viacero
            aplikácií, ktoré prostredníctvom internetu komunikujú. Váš operačný systém preto musí vedieť, ktorej
            aplikácii
            má čo poslať. Práve na to slúži číslo portu.
        </section>
        <section>
            Teraz zistite Vašu IP adresu. Spustite si konzolu (program, v ktorom ste kompilovali úvodné zadanie
            semestra) a
            napíšte:<br>
            ipconfig
            Vo výpise viete nájsť IP adresu. Ako vidíte, skladá sa zo štyroch bajtov oddelených bodkami:<br>
            192.168.0.132
        </section>
        Ďalej si vyskúšajte príkaz ping. Pomocou neho viete otestovať funkčnosť servera, ktorý má takéto testovanie
        povolené na svojej strane. Skúste otestovať napríklad:<br>
        ping www.google.com<br>
        Výstup bude vyzerať podobne tomuto (Všimnite si ako krátko celá operácia trvá. Jednotky a nuly sa dostanú z
        Vášho počítača na server google-u a späť v zlomku sekundy):
        <img class="student-img" src="images/blok3-2.jpeg" alt="konzola príkaz ping">
    </article>
    <article
        class="assignment">
        <h2 class="student-page-h2-title">ZÁKLADNÝ POHĽAD NA ZADANIE</h2>
        <ol class="list">
            <li>Pripojiť sa na server s IP adresou 147.175.115.34 na port 777 pomocou protokolu TCP.</li>
            <li>Poslať úvodnú správu (zobraziť ju v konzole).</li>
            <li>Prijať odpoveď (zobraziť ju v konzole).</li>
            <li>Postupovať podľa ďalších príkazov prijatých v komunikácii so serverom. Komunikácia funguje tak, že vždy
                po tom,
                čo Vám server niečo pošle očakáva nejakú odpoveď od Vás.</li>
        </ol>
        <section>(bodové hodnotenie je komplexné a bude zhrnuté dolu, hodnotí sa celý projekt, štruktúra a funkčnosť
            kódu,
            vizuálna stránka, ako aj splnenie úloh)</section>
    </article>
    <article
        class="assignment">
        <h2 class="student-page-h2-title">SOCKETY</h2>
        <section>

            Na komunikáciu cez internet z Vášho programu budete používať tzv. sockety, v OS Windows budeme používať
            implementáciu Winsock. Podpora v rámci predmetu sa poskytuje výlučne pre Windows. Kto si však trúfa, môže
            skúsiť
            v operačnom systéme na báze Linux-u. Príklad na implementáciu socket komunikácie je <a rel="noopener noreferrer"
                class="student-link"
                href="https://www.linuxhowtos.org/data/6/client.c">tu.
            </a> Vo Visual Studio
            treba
            pridať nasledovné knižnice:
        </section>
        <div
            class="copy-code">
            <pre #text1>
#include &lt;stdio.h&gt;
#include &lt;winsock2.h&gt;
#include &lt;ws2tcpip.h&gt;

#pragma comment(lib, "Ws2_32.lib")
        </pre>
<app-copy-button [sourceElement]="text1"></app-copy-button>
        </div>
        <section>
            Ak pracujete v Dev-C++, musíte nalinkovať knižnice cez Tools -> Compiler Options a tam napísať
            to,
            čo je na <a rel="noopener noreferrer"
                class="student-link"
                href="/internalfiles/link_veci_k_devku.png">tomto
            </a> screenshote.<br>

            Ak pracujete v CLione, musíte si nalinkovať knižnice modifikovaním CMakeLists.txt a doplnit
            target
            libraries ako v <a rel="noopener noreferrer"
                class="student-link"
                href="/internalfiles/linkovanieVclione.png">tomto
            </a> screenshote.
        </section>
    </article>
    <article
        class="assignment">
        <h2 class="student-page-h2-title">1. Úvodné nastavenia</h2>
        <section>
            Najprv treba nastaviť základné parametre štruktúr socketu, IP adresu servera a port, na ktorom
            chcete komunikovať. Prejdite si každý riadok kódu, nepracujte len systémom "copy/paste".
        </section>
        <div
            class="copy-code">
            <pre #text2>
//uvodne nastavovacky


WSADATA wsaData; //struktura WSADATA pre pracu s Winsock
int iResult;

// Initialize Winsock
iResult = WSAStartup(MAKEWORD(2, 2), &wsaData); //zakladna inicializacia
if (iResult != 0) //kontrola, ci nestala chyba
&#123;

printf("WSAStartup failed: %d\n", iResult);
return 1;
&#125;


struct addrinfo *result = NULL, *ptr = NULL; //struktura pre pracu s adresami
struct addrinfo hints;

ZeroMemory(&hints, sizeof(hints));
hints.ai_family = AF_UNSPEC;
hints.ai_socktype = SOCK_STREAM;
hints.ai_protocol = IPPROTO_TCP; //pracujeme s protokolom TCP/IP

// Resolve the server address and port
iResult = getaddrinfo("tu ma byt IP adresa servera", "tu ma byt port", &hints, &result);
if (iResult != 0) //kontrola, ci nenastala chyba
&#123;
printf("getaddrinfo failed: %d\n", iResult);
WSACleanup();
return 1;
&#125;
else
printf("getaddrinfo didn't fail…\n");
        </pre>
<app-copy-button [sourceElement]="text2"></app-copy-button>
        </div>
    </article>
    <article
        class="assignment">
        <h2 class="student-page-h2-title">2. Pripojenie sa</h2>
        <section>
            V tejto časti kódu sa snažíme pripojiť na server spôsobom, ktorý sme definovali v časti
            predošlej.
        </section>
        <div
            class="copy-code">
            <pre #text3>
//vytvorenie socketu a pripojenie sa

SOCKET ConnectSocket = INVALID_SOCKET;

// Attempt to connect to the first address returned by
// the call to getaddrinfo
ptr = result;

// Create a SOCKET for connecting to server => pokus o vytvorenie socketu
ConnectSocket = socket(ptr->ai_family, ptr->ai_socktype,ptr->ai_protocol);

if (ConnectSocket == INVALID_SOCKET) //kontrola, ci nenastala chyba
&#123;
printf("Error at socket(): %ld\n", WSAGetLastError());
freeaddrinfo(result);
WSACleanup();
return 1;
&#125;
else
printf("Error at socket DIDN'T occur…\n");

// Connect to server. => pokus o pripojenie sa na server

iResult = connect(ConnectSocket, ptr->ai_addr, (int)ptr->ai_addrlen);
if (iResult == SOCKET_ERROR) //kontrola, ci nenastala chyba
printf("Not connected to server…\n");
else
printf("Connected to server!\n");

if (iResult == SOCKET_ERROR) //osetrenie chyboveho stavu
&#123;
closesocket(ConnectSocket);
ConnectSocket = INVALID_SOCKET;
WSACleanup();
return 1;
&#125;

Sleep(250);
        </pre>
<app-copy-button [sourceElement]="text3"></app-copy-button>
        </div>
    </article>
    <article
        class="assignment">
        <h2 class="student-page-h2-title">3. Posielanie dát</h2>
        <section>Pri posielaní dát v zásade pracujeme z reťazcami ako aj v predošlých blokoch. Posielame znaky,
            čo sú
            v konečnom dôsledku jednotky a nuly, ktoré server prijme. Musíte si zvoliť vhodnú dĺžku reťazca,
            za
            každým ho naplniť znakmi, ktoré chcete poslať a následne "posunút" reťazec vytvorenému socketu,
            ktorý sa pokúsi dáta poslať.</section>
        <div
            class="copy-code">
            <pre #text4>
//posielanie

char sendbuf[/*treba zavolit vhodnu velkost, napr. 4096*/]; //buffer (v zasade retazec), kam sa
budu
ukladat data, ktore chcete posielat

iResult = send(ConnectSocket, sendbuf, (int)strlen(sendbuf), 0);
if (iResult == SOCKET_ERROR)
&#123;
printf("send failed: %d\n", WSAGetLastError());
closesocket(ConnectSocket);
WSACleanup();
return 1;
&#125;

printf("Bytes Sent: %ld\n", iResult); //vypisanie poctu odoslanych dat

        </pre>
<app-copy-button [sourceElement]="text4"></app-copy-button>
        </div>
    </article>
    <article
        class="assignment">
        <h2 class="student-page-h2-title">4. Prijímanie dát</h2>
        <section> Aby Vám server vedel odpovedať, musíte si nachystať buffer, do ktorého si budete ukladať dáta,
            ktoré
            Vám pošle. V našom prípade sa bude takmer vždy jednať o znaky, takže si ich môžete ukladať do
            reťazca.</section>
        <div
            class="copy-code">
            <pre #text5>
//prijimanie

#define DEFAULT_BUFLEN 4096 //makro, kde definujeme velkost prijimacieho buffera

int recvbuflen = DEFAULT_BUFLEN;
char recvbuf[DEFAULT_BUFLEN];

iResult = recv(ConnectSocket, recvbuf, recvbuflen, 0); //funkcia na príjimanie

if ( iResult > 0 )
printf("Bytes received: %d\n", iResult); //prisli validne data, vypis poctu
else if ( iResult == 0 )
printf("Connection closed\n"); //v tomto pripade server ukoncil komunikaciu
else
printf("recv failed with error: %d\n", WSAGetLastError()); //ina chyba
        </pre>
<app-copy-button [sourceElement]="text5"></app-copy-button>
        </div>
    </article>
    <article
        class="assignment">
        <h2 class="student-page-h2-title">5. Zavretie socketu</h2>

        <section>Po ukončení komunikácie je potrebné socket zavrieť.
        </section>
        <div
            class="copy-code">
            <pre #text6>
//zavretie socketu

closesocket(ConnectSocket);
WSACleanup();
        </pre>
<app-copy-button [sourceElement]="text6"></app-copy-button>
        </div>

    </article>

    <article
        class="assignment">
        <h2 class="student-page-h2-title">TIPY, TRIKY A PODMIENKY</h2>
        <section>
            <h3 class="student-page-h3-title">1. Načítanie vstupu s konzoly aj s medzerami</h3>
            Funkcia scanf() Vám štandardne ukončí načítanie reťazca zo vstupu po výskyte prvej medzery. Ak
            chcete uložiť vstup vrátane medzier je lepšie použiť funkciu fgets():<br>

            char name[1024];<br>
            int size = 1024;<br>
            fgets(name, size, stdin);<br>
            printf("%s\n", name);
        </section>
        <section>
            <h3 class="student-page-h3-title">2. Práca s prijatými dátami</h3>
            Z pohľadu socketu sú prijaté dáta len postupnosťou bajtov, nie reťazce. V prijatých dátach sa
            ani
            nemusí nachádzať ukončovacia nula (všetci viete, čím je ukončený reťazec, však?). Ako teda
            zistiť,
            kedy "končia" dáta, ktoré Vám server posiela v našom prípade? Vo väčšine správ sú ukončené
            znakom
            <strong class="text-green-400">'\n'</strong>. Aby sa Vám v konzole pri vypísaní prijatých dát nevyskytol nejaký neporiadok, musíte tento
            znak nahradiť ukončovacou nulou <strong class="text-green-400">'\0'</strong>. Môžete na to použiť napríklad <a rel="noopener noreferrer"
                class="student-link"
                href="https://www.w3schools.com/c/ref_string_strchr.php">túto funkciu.
            </a> Lokalizujete
            znak
            '\n' a nhradíte ho ukončovacou nulou.

            V jednom špecifickom prípade sa však nebudete môcť spoľahnút ani na znak '\n'. Vtedy budete
            musieť
            ukončovaciu nulu umiestniť manuálne na základe informácie, ktorá Vám bude včas doručená.
        </section>
        <section>
            <h3 class="student-page-h3-title">3. Ak vám vo Windows 11 nefunguje umiestňovanie znakov na požadované
                súradnice</h3>


            Môžete posúvať písmená doprava o požadovaný počet medzier napríklad takto:
            printf("%60cMorpheus:", '
            ');
        </section>
    </article>
    <article>
        BODOVÉ OHODNOTENIE

        Na získanie plného počtu bodov sa musíte dostať až po poslednú správu zo servera. Úlohy musíte
        mať
        riešené algoritmicky - predovšetkým úlohu s rozdeľovaním textu na ľavú a pravú stranu, a úlohu s
        prvočíslami (tie sú najvyššie bodovo hodnotené). Úloha s prvočíslami musí fungovať pre akúkoľvek
        dlhú správu.
    </article>
</main>