<main class="main-student" *transloco="let t; read: 'control_questions'">
    <h1 class="student-page-h1-title">
        {{ t('title') }}
    </h1>
    <article class="student-info-block">
        <section [innerHTML]="t('warning_info')"></section>
    </article>
    <article class="assignment">
        <ol class="list">
            <li>
                <p class="text-green-500"> {{ t('q1.question') }}</p>
                <span [innerHTML]="t('q1.answer')"></span>
            </li>
            <li>
                <p class="text-green-500"> {{ t('q2.question') }}</p>
                <span [innerHTML]="t('q2.answer')"></span>
            </li>
            <li>
                <p class="text-green-500"> {{ t('q3.question') }}</p>
                <span [innerHTML]="t('q3.answer')"></span>
            </li>
            <li>
                <p class="text-green-500"> {{ t('q4.question') }}</p>
                <span [innerHTML]="t('q4.answer')"></span>
            </li>
            <li>
                <p class="text-green-500"> {{ t('q5.question') }}</p>
                <p class="text-green-500"></p>
                <span [innerHTML]="t('q5.answer')"></span>
            </li>
            <li>
                <p class="text-green-500"> {{ t('q6.question') }}</p>
                <span [innerHTML]="t('q6.answer')"></span>
            </li>
            <li>
                <p class="text-green-500"> {{ t('q7.question') }}</p>
                <span [innerHTML]="t('q7.answer')"></span>
            </li>
            <li>
                <p class="text-green-500"> {{ t('q8.question') }}</p>
                <span [innerHTML]="t('q8.answer')"></span>
            </li>
            <li>
                <p class="text-green-500"> {{ t('q9.question') }}</p>
                <span [innerHTML]="t('q9.answer')"></span>
            </li>
            <li>
                <p class="text-green-500"> {{ t('q10.question') }}</p>
                <span [innerHTML]="t('q10.answer')"></span>
            </li>
            <li>
                <p class="text-green-500"> {{ t('q11.question') }}</p>
                <span [innerHTML]="t('q11.answer')"></span>
            </li>
            <li>
                <p class="text-green-500"> {{ t('q12.question') }}</p>
                <span [innerHTML]="t('q12.answer')"></span>
            </li>
        </ol>
    </article>
</main>