<div class="teacher-div">
  <div class="teacher-div-line">
    <h1 class="teacher-bigger-title">
      <svg class="teacher-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4">
        </path>
      </svg>
      Správa Zadaní
    </h1>

    <button class="green-button" (click)="onCreateAssignmentClick()">
      <svg class="teacher-icon-smaller" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
      </svg>
      Vytvoriť nové Zadanie
    </button>
  </div>

  <div *ngIf="isLoading" class="teacher-loading">
    Načítavam...
  </div>

  <div *ngIf="error && !isDeleteConfirmModalOpen && !isCreateModalOpen" class="error-message">{{ error }}</div>

  <div *ngIf="message" class="message">
    <span>{{ message }}</span>
  </div>

  <div class="table-div">
    <table class="teacher-table">
      <thead class="table-header">
        <tr>
          <th (click)="onSort('name')" class="table-head">
            <div class="flex items-center">
              Názov zadania
              <span *ngIf="sortField === 'name'" class="teacher-asc-desc-icon">
                {{ sortDirection === 'asc' ? '▲' : '▼' }}
              </span>
            </div>
          </th>

          <th (click)="onSort('block')" class="table-head">
            <div class="flex items-center">
              Blok
              <span *ngIf="sortField === 'block'" class="teacher-asc-desc-icon">
                {{ sortDirection === 'asc' ? '▲' : '▼' }}
              </span>
            </div>
          </th>

          <th (click)="onSort('maxPoints')" class="table-head">
            <div class="flex items-center">
              Max. bodov
              <span *ngIf="sortField === 'maxPoints'" class="teacher-asc-desc-icon">
                {{ sortDirection === 'asc' ? '▲' : '▼' }}
              </span>
            </div>
          </th>

          <th class="table-head-center-text">Akcie</th>
        </tr>
      </thead>

      <tbody class="table-body">
        <tr>
          <td class="table-filter">
            Filter
          </td>
          <td class="table-filter">
            <select [(ngModel)]="filterBlockId" (ngModelChange)="loadData()" class="select-drop-down">
              <option [ngValue]="null">Všetky bloky</option>
              <option *ngFor="let block of availableBlocks" [value]="block.id">{{ block.name }}</option>
            </select>
          </td>
          <td>
          </td>
          <td></td>
        </tr>

        <tr *ngFor="let assign of assignments" class="table-hover">
          <td class="table-data" (dblclick)="onCellEdit(assign, 'name')" longPress
            (longPress)="onCellEdit(assign, 'name')">
            <ng-container *ngIf="isEditing(assign.id, 'name'); else viewName">
              <input #editInput [(ngModel)]="editingValue" (blur)="onCellSave(assign)"
                (keydown.enter)="onCellSave(assign)" type="text" class="editing-table-data" />
            </ng-container>
            <ng-template #viewName>{{ assign.name }}</ng-template>
          </td>

          <td class="table-data">
            <select [ngModel]="assign.block?.id" (ngModelChange)="onBlockChange(assign, $event)"
              class="select-drop-down">
              <option [ngValue]="null" disabled>Vyberte blok...</option>
              <option *ngFor="let b of availableBlocks" [value]="b.id">
                {{ b.name }}
              </option>
            </select>
          </td>

          <td class="table-data" (dblclick)="onCellEdit(assign, 'maxPoints')" longPress
            (longPress)="onCellEdit(assign, 'maxPoints')">
            <ng-container *ngIf="isEditing(assign.id, 'maxPoints'); else viewMaxPoints">
              <input #editInput [(ngModel)]="editingValue" (blur)="onCellSave(assign)"
                (keydown.enter)="onCellSave(assign)" type="number" class="editing-table-data" />
            </ng-container>
            <ng-template #viewMaxPoints>{{ assign.maxPoints | number:'1.0-2' }}</ng-template>
          </td>

          <td class="table-data-right">
            <button (click)="onDeleteAssignmentClick(assign)" class="red-button">
              <svg class="teacher-icon-smaller" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                </path>
              </svg>
            </button>
          </td>
        </tr>
        <tr *ngIf="assignments.length === 0 && !isLoading && !error">
          <td colspan="6" class="teacher-no-data-row">
            Žiadne zadania neboli nájdené. <span (click)="onCreateAssignmentClick()"
              class="teacher-create-text">Vytvorte nové.</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="isCreateModalOpen" (click)="onBackdropClick($event)" class="teacher-modal-bg">
  <div class="teacher-modal" (click)="$event.stopPropagation()" (appCloseOnEsc)="onCloseModal()">
    <div class="p-8">
      <h3 class="modal-title">Vytvoriť nové zadanie</h3>
      <div *ngIf="error" class="error-message">{{ error }}</div>
      <form (ngSubmit)="onSubmitNewAssignment()">
        <div class="space-y-4">
          <div>
            <label class="modal-label">Priradiť k bloku</label>
            <select name="blockId" [(ngModel)]="newAssignment.blockId" required class="select-drop-down">
              <option [ngValue]="null" disabled>Vyberte blok...</option>
              <option *ngFor="let blok of availableBlocks" [ngValue]="blok.id">{{ blok.name }}</option>
            </select>
          </div>
          <div>
            <label class="modal-label">Názov zadania</label>
            <input name="name" type="text" [(ngModel)]="newAssignment.name" required class="modal-input"
              placeholder="Názov..." autocomplete="off">
          </div>
          <div>
            <label class="modal-label">Max. bodov</label>
            <input name="maxPoints" type="number" step="0.1" [(ngModel)]="newAssignment.maxPoints" required
              class="modal-input">
          </div>
        </div>
        <div class="modal-button-layout">
          <button type="button" (click)="onCloseModal()" class="close-button">Zrušiť</button>
          <button type="submit" [disabled]="isLoading || !newAssignment.name || !newAssignment.blockId"
            class="green-button">Uložiť</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="isDeleteConfirmModalOpen" (click)="onBackdropClick($event)" class="teacher-modal-bg">
  <div class="delete-modal" (click)="$event.stopPropagation()" (appCloseOnEsc)="onCloseDeleteConfirmModal()">
    <div class="p-8">
      <h3 class="delete-modal-title">Potvrdiť vymazanie</h3>
      <p class="mb-4 text-gray-600">Naozaj chcete vymazať zadanie <span class="font-bold">{{ assignToDelete?.name
          }}</span>? Akciu potvrdíte napísaním <span class="font-mono font-bold text-red-700">{{ deleteConfirmText
          }}</span>.</p>
      <input type="text" [(ngModel)]="deleteConfirmationInput" name="deleteConfirm" placeholder="CONFIRM"
        class="delete-input">
      <div class="modal-button-layout">
        <button type="button" (click)="onCloseDeleteConfirmModal()" class="close-button">Zrušiť</button>
        <button type="button" (click)="onConfirmDelete()" [disabled]="deleteConfirmationInput !== deleteConfirmText"
          class="red-button">Vymazať</button>
      </div>
    </div>
  </div>
</div>