<div class="teacher-div">
  <div class="teacher-div-line">
    <h1 class="teacher-bigger-title">
      <svg class="teacher-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z">
        </path>
      </svg>
      Správa Študentov
    </h1>

    <button
      class="flex items-center px-5 py-2.5 bg-emerald-600 text-white font-semibold rounded-lg shadow-lg hover:bg-emerald-700 transition duration-150 transform hover:scale-[1.02]"
      (click)="onCreateStudentClick()">
      <svg class="teacher-icon-smaller" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"></path>
      </svg>
      Pridať študenta
    </button>
  </div>

  <div *ngIf="isLoading" class="teacher-loading">
    Načítavam...
  </div>

  <div *ngIf="error && !isDeleteConfirmModalOpen && !isCreateStudentModalOpen" class="error-message">{{ error }}</div>
  <div *ngIf="message" class="message">
    <span>{{ message }}</span>
  </div>

  <div class="table-div">
    <table class="teacher-table">
      <thead class="table-header">
        <tr>
          <th (click)="onSort('fullName')" class="table-head">
            <div class="flex items-center">
              Celé meno
              <span *ngIf="sortField === 'fullName'" class="teacher-asc-desc-icon">
                {{ sortDirection === 'asc' ? '▲' : '▼' }}
              </span>
            </div>
          </th>

          <th (click)="onSort('exercise')" class="table-head">
            <div class="flex items-center">
              Priradené cvičenie
              <span *ngIf="sortField === 'exercise'" class="teacher-asc-desc-icon">
                {{ sortDirection === 'asc' ? '▲' : '▼' }}
              </span>
            </div>
          </th>

          <th (click)="onSort('aisId')" class="table-head">
            <div class="flex items-center">
              AIS ID
              <span *ngIf="sortField === 'aisId'" class="teacher-asc-desc-icon">
                {{ sortDirection === 'asc' ? '▲' : '▼' }}
              </span>
            </div>
          </th>

          <th class="table-head-center-text">Akcie</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr>
          <td class="table-filter">
            <input type="text" [(ngModel)]="searchName" (ngModelChange)="onSearchInputChange()"
              placeholder="Hľadať meno"
              class="w-full min-w-[100px] p-2 text-xs placeholder-gray-500 border border-emerald-200 rounded outline-none shadow-sm">
          </td>
          <td class="table-filter">Filter</td>
          <td class="table-filter">
            <input type="text" [(ngModel)]="searchAisId" (ngModelChange)="onSearchInputChange()"
              placeholder="Hľadať AIS ID"
              class="w-full min-w-[100px] p-2 text-xs placeholder-gray-500 border border-emerald-200 rounded outline-none shadow-sm">
          </td>
          <td></td>
        </tr>

        <tr *ngFor="let student of students" class="table-hover">
          <td class="table-data" (dblclick)="onCellEdit(student, 'fullName')" longPress
            (longPress)="onCellEdit(student, 'fullName')">
            <ng-container *ngIf="isEditing(student.id, 'fullName'); else viewName">
              <input #editInput [(ngModel)]="editingValue" (blur)="onCellSave(student)"
                (keydown.enter)="onCellSave(student)" type="text" class="editing-table-data" />
            </ng-container>
            <ng-template #viewName>{{ student.fullName }}</ng-template>
          </td>

          <td class="table-data">
            <select [ngModel]="student.exerciseId" (ngModelChange)="onExerciseChange(student, $event)"
              class="select-drop-down">
              <option [ngValue]="null" disabled>Vyberte...</option>
              <option *ngFor="let ex of exercises" [ngValue]="ex.id">
                {{ ex.roomEnum }} | {{ ex.firstSessionDate | date:'EEEE' }} {{ ex.startTime | slice:0:5 }}
              </option>
            </select>
          </td>

          <td class="table-data" (dblclick)="onCellEdit(student, 'aisId')" longPress
            (longPress)="onCellEdit(student, 'aisId')">
            <ng-container *ngIf="isEditing(student.id, 'aisId'); else viewAisId">
              <input #editInput [(ngModel)]="editingValue" (blur)="onCellSave(student)"
                (keydown.enter)="onCellSave(student)" type="number" class="editing-table-data" />
            </ng-container>
            <ng-template #viewAisId>{{ student.aisId }}</ng-template>
          </td>

          <td class="table-data-right">
            <button (click)="openStudentDetail(student)" class="info-button">
              <svg class="teacher-button-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
              </svg>
            </button>
            <button (click)="onDeleteStudentClick(student)" class="red-button">
              <svg class="teacher-icon-smaller" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                </path>
              </svg>
            </button>
          </td>
        </tr>
        <tr *ngIf="students.length === 0 && !isLoading && !error">
          <td colspan="4" class="teacher-no-data-row">
            Žiadny študenti. <span (click)="onCreateStudentClick()" class="teacher-create-text">Vytvoriť nového.</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="isCreateStudentModalOpen" (click)="onBackdropClick($event)"
  class="teacher-modal-bg">
  <div class="teacher-modal"
    (click)="$event.stopPropagation()" (appCloseOnEsc)="onCloseStudentModal()">
    <div class="p-8">
      <h3 class="modal-title">Pridať študenta</h3>
      <form (ngSubmit)="onSubmitNovyStudent()">
        <div class="space-y-4">
          <div>
            <label class="modal-label">Celé meno</label>
            <input name="fullName" type="text" [(ngModel)]="novyStudent.fullName" required class="modal-input"
              placeholder="napr. Jozef Mrkvička" autocomplete="off">
          </div>
          <div>
            <label class="modal-label">AIS ID</label>
            <input name="aisId" type="number" [(ngModel)]="novyStudent.aisId" required class="modal-input"
              placeholder="123456" autocomplete="off">
          </div>
          <div>
            <label class="modal-label">Priradiť cvičenie</label>
            <select name="exerciseId" [(ngModel)]="selectedExerciseId" required class="select-drop-down">
              <option [ngValue]="null" disabled>Vyberte cvičenie...</option>
              <option *ngFor="let ex of exercises" [ngValue]="ex.id">
                {{ ex.roomEnum }} | {{ ex.firstSessionDate | date:'EEEE' }} {{ ex.startTime | slice:0:5 }}
              </option>
            </select>
          </div>
        </div>
        <div class="modal-button-layout">
          <button type="button" (click)="onCloseStudentModal()" class="close-button">Zrušiť</button>
          <button type="submit" [disabled]="isLoading || !novyStudent.fullName || !selectedExerciseId"
            class="green-button">Uložiť</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="isDeleteConfirmModalOpen" (click)="onBackdropClick($event)" class="teacher-modal-bg">
  <div class="delete-modal" (click)="$event.stopPropagation()" (appCloseOnEsc)="onCloseDeleteConfirmModal()">
    <div class="p-8">
      <h3 class="delete-modal-title">Potvrdiť vymazanie</h3>
      <p class="mb-4 text-gray-600">Naozaj chcete vymazať študenta <span class="font-bold">{{ studentToDelete?.fullName
          }}</span>? Akciu potvrdíte napísaním <span class="font-mono font-bold text-red-700">CONFIRM</span>.</p>
      <input type="text" [(ngModel)]="deleteConfirmationInput" name="deleteConfirm" placeholder="CONFIRM"
        class="delete-input">
      <div class="modal-button-layout">
        <button type="button" (click)="onCloseDeleteConfirmModal()" class="close-button">Zrušiť</button>
        <button type="button" (click)="onConfirmDelete()" [disabled]="deleteConfirmationInput !== deleteConfirmText"
          class="red-button">Vymazať</button>
      </div>
    </div>
  </div>
</div>
<app-search-bar-modal
  *ngIf="isDetailModalOpen && selectedStudentForDetail"
  [student]="selectedStudentForDetail"
  (close)="onCloseDetailModal()">
</app-search-bar-modal>