<main class="main-student" *transloco="let t; read: 'blok2-asm1'">
    <article
        class="assignment">
        <h2 class="student-page-h2-title">
           {{ t('title') }}
        </h2>
        <section [innerHTML]="t('info.intro')"></section>
    </article>
    <article
        class="assignment">
        <h2 class="student-page-h2-title">
            {{ t('compilers.msvc.title') }}
        </h2>
        <section [innerHTML]="t('compilers.msvc.description')"></section>
    </article>
    <article
        class="assignment">
        <div
            class="copy-code">
            <pre #asmCode1>
// zaciatok bloku asm
 __asm            
&#123;
     MOV EAX, iCislo // do EAX vloz hodnotu premennej iCislo (z pamate)
     INC EAX // pripocitaj 1
     MOV iVysledok,EAX // do premennej iVysledok vloz vysledok z registra EAX
&#125; // koniec bloku asm
            </pre>
            <app-copy-button [sourceElement]="asmCode1"></app-copy-button>
        </div>
    </article>
    <article
        class="assignment">
        <h2 class="student-page-h2-title">
            {{ t('compilers.devcpp.title') }}
        </h2>
        <section [innerHTML]="t('compilers.devcpp.description')"></section>
    </article>
    <article
        class="assignment">
        <div
            class="copy-code">
            <pre #asmCode2>
asm(“.intel_syntax noprefix \n” // Prepneme z AT&T syntaxe na na Intel

     “mov eax,_iCislo \n” // iCislo -> EAX
     “inc eax \n” // EAX ++
     “mov _iVysledok,eax \n” // EAX -> iVysledok

“.att_syntax \n”); // Dame vsetko do povodneho stavu
            </pre>
            <app-copy-button [sourceElement]="asmCode2"></app-copy-button>
        </div>
    </article>
    <article
        class="assignment">
        <h2 class="student-page-h2-title">
            {{ t('compilers.clion.title') }}
        </h2>
        <section [innerHTML]="t('compilers.clion.description')"></section>
    </article>
    <article
        class="assignment">
        <div
            class="copy-code">
            <pre #asmCode3>
__asm__ (
            “movl %[iCislo], %%eax;” //movl kopiruje udaje z premennej do registra
            “inc %%eax;” //pripocitame 1
            “movl %%eax, %[iVysledok];” //do premennej iVysledok vloz vysledok z 
registra EAX
            : [iVysledok] “=r” (iVysledok) //:toto je apersand //rozdiel medzi “r” a
 “=r” je v tom, že prvý sa používa pre vstupné operandy a druhý pre výstupné 
operandy. “r” umožňuje kompilátoru vybrať akýkoľvek dostupný
    // register na uloženie hodnoty operandu, zatiaľ čo “=r” zabezpečuje, že hodnota 
výstupného operandu sa zapíše späť do pamäte.
    : [iCislo] “r” (iCislo)
    );
            </pre>
            <app-copy-button [sourceElement]="asmCode3"></app-copy-button>
        </div>
    </article>
    <article
        class="assignment">
        <h2 class="student-page-h2-title">
            {{ t('compilers.debugging.title') }}
        </h2>
        <section [innerHTML]="t('compilers.debugging.description')"></section>
    </article>
    <article
        class="assignment">
        <div
            class="copy-code">
            <pre #asmCode4>
#include &lt;stdio.h&gt;

static int iCislo, iVysledok;         // Niektore verzie potrebuju globalne premenne

int main(int argc, char* argv[])
&#123;
    iCislo = 27;
    iVysledok = 0;
    printf("\nCislo: %d  Vysledok: %d",iCislo,iVysledok);

#ifdef __GNUC__                      // Tato cast sa preklada len v Dev-C++ (gcc)

   asm(".intel_syntax noprefix \n"   // Prepneme z AT&T syntaxe na na Intel 
   
       "mov eax,_iCislo        \n"   // iCislo -> EAX
       "inc eax                \n"   // EAX ++ 
       "mov _iVysledok,eax     \n"   // EAX  -> iVysledok  

       ".att_syntax            \n"); // Dame vsetko do povodneho stavu      

#elif _MSC_VER                       // Tato cast sa preklada iba v MS Visual C++

    __asm &#123;                          // zaciatok bloku asm
    MOV EAX, iCislo                  // do EAX vloz hodnotu premennej iCislo (z pamate)
    INC EAX                           // pripocitaj 1
    MOV iVysledok,EAX                // do premennej iVysledok vloz vysledok z registra EAX
    &#125;                                // koniec bloku asm

#endif
  
    printf("\nCislo: %d  Vysledok: %d",iCislo,iVysledok);
    
    printf("\n\nStlac ENTER a skoncime...");
    scanf("?");    
    return(0);
&#125;
</pre>
            <app-copy-button [sourceElement]="asmCode4"></app-copy-button>
        </div>
    </article>
</main>