<main class="main-student">
    <article
        class="assignment">
        <h1 class="student-page-h1-title">
            Uspávanie programu
        </h1>
        <section class="space-y-4">
            Väčšinou potrebujeme beh počítača urýchliť a nie spomaliť. Ale pri komunikácii s užívateľom je niekedy
            naozaj vhodné dopriať mu viac času. Na definované pozdržanie práce programu použijeme jednoducho funkciu
            <strong class="text-green-400">leep(milliseconds)</strong>S, ktorá je definovaná buď vo <strong
                class="text-green-400">windows.h</strong>, alebo <strong class="text-green-400">unistd.h</strong>
            (Unix).<br>
            <strong class="text-green-300">static void Sleep(int millisecondsTimeout)</strong><br>
            Premenná <strong class="text-green-400">millisecondsTimeout</strong> udáva, na koľko ms bude vykonávanie programu pozastavené. Počas pozastavenie
            však môžu pracovať iné programy, prípadne aj iné vlákna toho istého programu.<br>
        </section>
        <section>
            <span class="important-icon">💡 Tip: </span>
            <span class="important-text">Vyskúšajte <a rel="noopener noreferrer"
                    class="student-link"
                    href="/internalfiles/uloha26delay.c.html">vzorový program
                </a> na prácu s časom.</span>
        </section>
    </article>
</main>