<main class="main-student" *transloco="let t; read: 'contacts'">
  <h1 class="student-page-h1-title">
    {{ t('title') }}
  </h1>
  <div class="table-container">
    <table class="table">
      <tbody class="text-white">
        <tr>
          <td class="table-content"> {{ t('contacts_table.lecturer.role') }}</td>
          <td class="table-content">Ing. Juraj Slačka, PhD.</td>
          <td class="table-content">
            <p class="table-content">
              juraj.slacka@stuba.sk
            </p>
          </td>
        </tr>
        <tr>
          <td class="table-content"> {{ t('contacts_table.exercise_leader.role') }}</td>
          <td class="table-content">Ing. Michal Tölgyessy, PhD.</td>
          <td class="table-content">
            <p class="table-content">
              michal.tolgyessy@stuba.sk
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 class="student-page-h2-title">{{ t('schedule_title') }}</h2>

  <img src="images/timetable.png" alt="rozvrh" class="student-img" width="415" height="189">
</main>