<main class="main-student">
      <h1
        class="student-page-h1-title">
        Kontakty
    </h1>
  <div class="table-container">
    <table class="table">
      <tbody class="text-white">
        <tr>
          <td class="table-content">Prednášajúci</td>
          <td class="table-content">Ing. Juraj Slačka, PhD.</td>
          <td class="table-content">
            <p class="table-content">
              juraj.slacka@stuba.sk
            </p>
          </td>
        </tr>
        <tr>
          <td class="table-content">Vedúci cvičení</td>
          <td class="table-content">Ing. Michal Tölgyessy, PhD.</td>
          <td class="table-content">
            <p class="table-content">
              michal.tolgyessy@stuba.sk
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 class="student-page-h2-title">ROZVRH:</h2>

  <img src="images/timetable.png" alt="rozvrh" class="student-img" width="415" height="189">
</main>
