<main class="main-student" *transloco="let t; read: 'blok2-asm4'">
    <article class="assignment">
        <h1 class="student-page-h1-title">
            {{ t('cpuid_instruction.title') }}
        </h1>
        <section class="space-y-4" [innerHTML]="t('cpuid_instruction.info.description1')">
        </section>
        <section class="space-y-4" [innerHTML]="t('cpuid_instruction.info.description2')">
        </section>
        <section class="space-y-4" [innerHTML]="t('cpuid_instruction.info.description3')">
        </section>
        <section class="space-y-4" [innerHTML]="t('cpuid_instruction.info.description4')">
        </section>
    </article>
</main>