<main class="main-student" *transloco="let t; read: 'blok1'">
    <h1 class="student-page-h1-title">
        {{ t('title') }}
    </h1>
    <article class="student-info-block">
        <section>
            <span [innerHTML]="t('info.description1')"></span>
            <img src="images/uvod-blok1.png" alt="obrázok správneho odovzdania" width="938" height="403"
                class="student-img">
            <span [innerHTML]="t('info.description2')"></span>
        </section>
        <section class="important-div">
            <span class="important-icon">{{ t('info.importantWarning') }}</span>
            <span class="important-text" [innerHTML]="t('info.importantText')"></span>
        </section>
    </article>
    <article class="assignment">
        <div class="assignment-div">
            <h2 class="student-page-h2-title">{{ t('tasks.task1.title') }}</h2><span class="student-assignment-point">{{
                t('tasks.task1.points') }}</span>
        </div>
        <section [innerHTML]="t('tasks.task1.description')"></section>
        <section>
            <span class="important-icon">{{ t('labels.tip') }}</span>
            <span class="important-text" [innerHTML]="t('tasks.task1.tip1')"></span>
        </section>
    </article>
    <article class="assignment">
        <div class="assignment-div">
            <h2 class="student-page-h2-title">{{ t('tasks.task2.title') }}</h2>
            <span class="student-assignment-point">{{ t('tasks.task2.points') }}</span>
        </div>
        <section [innerHTML]="t('tasks.task2.description')"></section>
        <section>
            <br>
            <span class="important-icon">{{ t('labels.tip') }}</span>
            <span class="important-text" [innerHTML]="t('tasks.task2.tip1')"></span><br>

            <span class="important-icon">{{ t('labels.tip') }}</span>
            <span class="important-text" [innerHTML]="t('tasks.task2.tip2')"></span><br>

            <span class="important-icon">{{ t('labels.tip') }}</span>
            <span class="important-text" [innerHTML]="t('tasks.task2.tip3')"></span>

            <img src="images/uloha1.2.png" alt="int bit_count = sizeof(unsigned int) * 8;" class="student-img"
                width="328" height="25">
        </section>
    </article>
    <article class="assignment">
        <div class="assignment-div">
            <h2 class="student-page-h2-title">{{ t('tasks.task3.title') }}</h2>
            <span class="student-assignment-point">{{ t('tasks.task3.points') }}</span>
        </div>
        <section [innerHTML]="t('tasks.task3.description')"></section>
        <section>
            <span class="important-icon">{{ t('labels.tip') }}</span>
            <span class="important-text" [innerHTML]="t('tasks.task3.tip1')"></span>
        </section>
    </article>
    <article class="assignment">
        <div class="assignment-div">
            <h2 class="student-page-h2-title">{{ t('tasks.task4.title') }}</h2>
            <span class="student-assignment-point">{{ t('tasks.task4.points') }}</span>
        </div>
        <section [innerHTML]="t('tasks.task4.description')"></section>
        <section [innerHTML]="t('tasks.task4.def1')"></section>
        <section [innerHTML]="t('tasks.task4.def2')"></section>
        <span class="important-icon">{{ t('labels.tip') }}</span>
        <span class="important-text" [innerHTML]="t('tasks.task4.tip1')"></span><br>

        <span class="important-icon">{{ t('labels.tip') }}</span>
        <span class="important-text" [innerHTML]="t('tasks.task4.tip2')"></span><br>

        <span class="important-icon">{{ t('labels.tip') }}</span>
        <span class="important-text" [innerHTML]="t('tasks.task4.tip3.text')"></span>
        <a rel="noopener noreferrer" class="student-link" routerLink="../blok1-epsilon">{{ t('tasks.task4.tip3.link_text') }}</a>

    </article>
    <article class="assignment">
        <div class="assignment-div">
            <h2 class="student-page-h2-title">{{ t('tasks.task5.title') }}</h2>
            <span class="student-assignment-point">{{ t('tasks.task5.points') }}</span>
        </div>
        <section [innerHTML]="t('tasks.task5.description1')"></section>
        <img src="images/uloha1.5-1.png" alt="Rád sin(x) a cos(x)" class="student-img" width="1024" height="284">
        <section [innerHTML]="t('tasks.task5.description2')"></section>
        <span class="important-icon">{{ t('labels.tip') }}</span>
        <span class="important-text" [innerHTML]="t('tasks.task5.tip1')"></span><br>
        <span class="important-icon">{{ t('labels.tip') }}</span>
        <span class="important-text" [innerHTML]="t('tasks.task5.tip2')"></span><br>
        <span class="important-icon">{{ t('labels.tip') }}</span>
        <span class="important-text" [innerHTML]="t('tasks.task5.tip3')"></span><br>
        <img src="images/uloha1.5-2.png" alt="graf funkcií" class="student-img" width="290" height="291">
        <section [innerHTML]="t('tasks.task5.description3')"></section>
    </article>
    <article class="assignment">
        <div class="assignment-div">
            <h2 class="student-page-h2-title">{{ t('tasks.task6.title') }}</h2>
            <span class="student-assignment-point">{{ t('tasks.task6.points') }}</span>
        </div>
        <section [innerHTML]="t('tasks.task6.description1')"></section>
        <section [innerHTML]="t('tasks.task6.def1')"></section>
        <div class="copy-text">
            <div class="copy-text-spacing">
                <span #text1>:10010000214601360121470136007EFE09D21901XX</span>
                <app-copy-button [sourceElement]="text1"></app-copy-button>
            </div>
        </div>
        <section [innerHTML]="t('tasks.task6.description2')"></section>
        <div class="copy-text">
            <div class="copy-text-spacing">
                <span #text2>:100010000C9445000C9445000C9445000C944500xx</span>
                <app-copy-button [sourceElement]="text2"></app-copy-button>
            </div>
            <div class="copy-text-spacing">
                <span #text3>:100020000C9445000C9445000C9445000C944500xx</span>
                <app-copy-button [sourceElement]="text3"></app-copy-button>
            </div>
            <div class="copy-text-spacing">
                <span #text4>:100030000C9445000C9445000C9445000C944500xx</span>
                <app-copy-button [sourceElement]="text4"></app-copy-button>
            </div>
            <div class="copy-text-spacing">
                <span #text5>:100040000C9445000C9445000C9445000C944500xx</span>
                <app-copy-button [sourceElement]="text5"></app-copy-button>
            </div>
        </div>
        <section>
            <span [innerHTML]="t('tasks.task6.intelHexQuestion')"></span><br>

            <span [innerHTML]="t('tasks.task6.intelHexDesc1')"></span>
        </section>
        <section>
            <span [innerHTML]="t('tasks.task6.intelHexDesc2')"></span><br>
            <span [innerHTML]="t('tasks.task6.intelHexFormat')"></span>
        </section>
        <img src="images/uloha1.6-1.png" alt="obrázok Intel HEX formátu" class="student-img" width="300" height="97">
        <span [innerHTML]="t('tasks.task6.exampleMeaning')"></span><br>
        <span [innerHTML]="t('tasks.task6.calculation')"></span><br>
        <span [innerHTML]="t('tasks.task6.exampleMicrocomputer')"></span><br>
        <img src="images/uloha1.6-2.png" alt="jednoduchý program pre mikropočítač" class="student-img" width="379"
            height="516">
        <div class="copy-text">
            <div class="copy-text-spacing w-full">
                <span #text6>:100000000C942A000C9445000C9445000C94450077</span>
                <app-copy-button [sourceElement]="text6"></app-copy-button>
            </div>
            <div class="copy-text-spacing">
                <span #text7>:100010000C9445000C9445000C9445000C9445004C</span>
                <app-copy-button [sourceElement]="text7"></app-copy-button>
            </div>
            <div class="copy-text-spacing">
                <span #text8>:100020000C9445000C9445000C9445000C9445003C</span>
                <app-copy-button [sourceElement]="text8"></app-copy-button>
            </div>
            <div class="copy-text-spacing">
                <span #text9>:100030000C9445000C9445000C9445000C9445002C</span>
                <app-copy-button [sourceElement]="text9"></app-copy-button>
            </div>
            <div class="copy-text-spacing">
                <span #text10>:100040000C9445000C9445000C9445000C9445001C</span>
                <app-copy-button [sourceElement]="text10"></app-copy-button>
            </div>
            <div class="copy-text-spacing">
                <span #text11>:100050000C94450011241FBECFE5D4E0DEBFCDBF18</span>
                <app-copy-button [sourceElement]="text11"></app-copy-button>
            </div>
            <div class="copy-text-spacing">
                <span #text12>:1000600010E0A0E6B0E0EEEAF0E002C005900D92EC</span>
                <app-copy-button [sourceElement]="text12"></app-copy-button>
            </div>
            <div class="copy-text-spacing">
                <span #text13>:10008000A036B107D9F710E0A0E6B0E001C01D92AC</span>
                <app-copy-button [sourceElement]="text13"></app-copy-button>
            </div>
            <div class="copy-text-spacing">
                <span #text14>:10008000A036B107E1F80C9448000C940000CFE5CF</span>
                <app-copy-button [sourceElement]="text14"></app-copy-button>
            </div>
            <div class="copy-text-spacing">
                <span #text15>:10009000D4E0DEBFCDBF80EF8ABB8FEF8BBB17BA3A</span>
                <app-copy-button [sourceElement]="text15"></app-copy-button>
            </div>
            <div class="copy-text-spacing">
                <span #text16>:10009000D4E0DEBFCDBF80EF8ABB8FEF8BBB17BA3A</span>
                <app-copy-button [sourceElement]="text16"></app-copy-button>
            </div>
            <div class="copy-text-spacing">
                <span #text17>:00000001FF</span>
                <app-copy-button [sourceElement]="text17"></app-copy-button>
            </div>
        </div>

    </article>
</main>