<main class="main-student" *transloco="let t; read: 'blok2-asm12'">
    <article class="assignment">
        <h1 class="student-page-h1-title">
            {{ t('title') }}
        </h1>
        <section [innerHTML]="t('info.intro')"></section>
        <div class="copy-code">
            <pre #time>


#include &lg;time.h&gt;
clock_t Start, Koniec;      // premenne typu clock_t
float Trvanie;              // tu bude vysledok merania

Start = clock();
/* tuto nieco robime, co treba zmerat */
Koniec = clock();

// Vypocet dlzky trvania

Trvanie = (float)(Koniec - Start) / CLOCKS_PER_SEC; 

            </pre>
            <app-copy-button [sourceElement]="time"></app-copy-button>
        </div>
        <section [innerHTML]="t('info.system_differences')"></section>
        <section class="space-y-4" [innerHTML]="t('info.definitions')"></section>
        <section [innerHTML]="t('info.warning')"></section>
    </article>
</main>