<main class="main-student" *transloco="let t; read: 'blok2-asm5'">
    <article
        class="assignment">
        <h1 class="student-page-h1-title">
            {{ t('title') }}
        </h1>
        <section class="space-y-4" [innerHTML]="t('description')">
        </section>
                <div
            class="copy-code">
            <pre #error>
char str[4];

int main()
&#123;


        __asm mov str, EAX // chyba
        __asm mov BYTE PTR str, AL // OK, presunie do str jeden byte
        __asm mov WORD PTR str, AX // OK, presunie do str 2 byte
        __asm mov DWORD PTR str, EAX // OK, presunie do str 4 byte


&#125;
            </pre>
            <app-copy-button [sourceElement]="error"></app-copy-button>
        </div>
    </article>
</main>