<main class="main-student" *transloco="let t; read: 'blok2-asm6'">
    <article
        class="assignment">
        <h1 class="student-page-h1-title">
            {{ t('title') }}
        </h1>
        <section class="space-y-4" [innerHTML]="t('info.intro')">
        </section>
        <div
            class="copy-code">
            <pre #znaky>
       ISO-8859-2     Windows-1250
znak    hex dec         hex dec

 Ľ      A5  165         BC  188
 Š      A9  169         8A  138
 Ť      AB  171         8D  141
 Ž      AE  174         8E  142

 ľ      B5  181         BE  190
 š      B9  185         9A  154
 ť      BB  187         9D  157
 ž      BE  190         9E  158 
            </pre>
            <app-copy-button [sourceElement]="znaky"></app-copy-button>
        </div>
        <section [innerHTML]="t('info.task')">
        </section>
    </article>
</main>