<main class="main-student" *transloco="let t; read: 'blok2-asm3'">
    <article class="assignment">
        <h1 class="student-page-h1-title">
            {{ t('title') }}
        </h1>
        <span [innerHTML]="t('info.description')">
        </span>
    </article>
    <div class="list-container">
        <article class="assignment">
            <h2 class="student-page-h2-title">
                {{ t('list-titles.by-function') }}
            </h2>
            <ul class="list">
                <h3 class="student-page-h3-title">
                    {{ t('list-titles.move') }}
                </h3>
                <li><a (click)="scrollTo('mov')" style="cursor: pointer;">MOV</a></li>
                <h3 class="student-page-h3-title">
                    {{ t('list-titles.al') }}
                </h3>
                <li><a (click)="scrollTo('add')" style="cursor: pointer;">ADD</a></li>
                <li><a (click)="scrollTo('sub')" style="cursor: pointer;">SUB</a></li>
                <li><a (click)="scrollTo('inc')" style="cursor: pointer;">INC</a></li>
                <li><a (click)="scrollTo('dec')" style="cursor: pointer;">DEC</a></li>
                <h3 class="student-page-h3-title">
                    {{ t('list-titles.shifts') }}
                </h3>
                <li><a (click)="scrollTo('shl')" style="cursor: pointer;">SHL</a></li>
                <li><a (click)="scrollTo('shr')" style="cursor: pointer;">SHR</a></li>
                <h3 class="student-page-h3-title">
                    {{ t('list-titles.jumps') }}
                </h3>
                <li><a (click)="scrollTo('cmp')" style="cursor: pointer;">CMP</a></li>
                <li><a (click)="scrollTo('jg')" style="cursor: pointer;">JG</a></li>
                <li><a (click)="scrollTo('jz')" style="cursor: pointer;">JE</a></li>
                <li><a (click)="scrollTo('jz')" style="cursor: pointer;">JZ</a></li>
                <li><a (click)="scrollTo('jmp')" style="cursor: pointer;">JMP</a></li>
                <h3 class="student-page-h3-title">
                    {{ t('list-titles.special') }}
                </h3>
                <li><a (click)="scrollTo('cpuid')" style="cursor: pointer;">CPUID</a></li>
                <li><a (click)="scrollTo('nop')" style="cursor: pointer;">NOP</a></li>
            </ul>
        </article>
        <article class="assignment">
            <h2 class="student-page-h2-title">
                {{ t('list-titles.by-alphabet') }}
            </h2>
            <ul class="list">
                <li><a (click)="scrollTo('add')" style="cursor: pointer;">ADD</a></li>
                <li><a (click)="scrollTo('cmp')" style="cursor: pointer;">CMP</a></li>
                <li><a (click)="scrollTo('cpuid')" style="cursor: pointer;">CPUID</a></li>
                <li><a (click)="scrollTo('dec')" style="cursor: pointer;">DEC</a></li>
                <li><a (click)="scrollTo('inc')" style="cursor: pointer;">INC</a></li>
                <li><a (click)="scrollTo('jg')" style="cursor: pointer;">JG</a></li>
                <li><a (click)="scrollTo('jz')" style="cursor: pointer;">JE</a></li>
                <li><a (click)="scrollTo('jz')" style="cursor: pointer;">JZ</a></li>
                <li><a (click)="scrollTo('jmp')" style="cursor: pointer;">JMP</a></li>
                <li><a (click)="scrollTo('mov')" style="cursor: pointer;">MOV</a></li>
                <li><a (click)="scrollTo('nop')" style="cursor: pointer;">NOP</a></li>
                <li><a (click)="scrollTo('shl')" style="cursor: pointer;">SHL</a></li>
                <li><a (click)="scrollTo('shr')" style="cursor: pointer;">SHR</a></li>
                <li><a (click)="scrollTo('sub')" style="cursor: pointer;">SUB</a></li>
            </ul>
        </article>
    </div>
    <article id="mov" class="assignment">
        <h2 class="student-page-h2-title">{{ t('instructions.mov.title') }}</h2>
        <span [innerHTML]="t('instructions.mov.description')"></span>
        <div class="copy-code">
            <pre #mov>


MOV ciel,zdroj ; ciel &lg;- zdroj

Operandy:

        reg, reg
        reg, mem
        mem, reg
        reg, imm
        mem, imm

Príznaky:

        O D I T S Z A P C

Príklad:

        MOV eax, 22    ; do registra EAX vlozime cislo 22
        MOV ecx, 8     ; do registra ECX vlozime cislo 8
        ADD eax, ecx   ; vypocitame EAX = EAX + ECX
            </pre>
            <app-copy-button [sourceElement]="mov"></app-copy-button>
        </div>
    </article>
    <article id="add" class="assignment">
        <h2 class="student-page-h2-title">{{ t('instructions.add.title') }}</h2>
        <span [innerHTML]="t('instructions.add.description')"></span>
        <div class="copy-code">
            <pre #add>


ADD ciel,zdroj ; ciel = ciel + zdroj

Operandy:

        reg, reg
        reg, mem
        mem, reg
        reg, imm
        mem, imm

Príznaky:

        O D I T S Z A P C
        + - - - + + + + +

Príklad:

        MOV eax, 22    ; do registra EAX vlozime cislo 22
        MOV ecx, 8     ; do registra ECX vlozime cislo 8
        ADD eax, ecx   ; vypocitame EAX = EAX + ECX

            </pre>
            <app-copy-button [sourceElement]="add"></app-copy-button>
        </div>
    </article>
    <article id="sub" class="assignment">
        <h2 class="student-page-h2-title">{{ t('instructions.sub.title') }}</h2>
        <span [innerHTML]="t('instructions.sub.description')"></span>
        <div class="copy-code">
            <pre #sub>


SUB ciel,zdroj ; ciel = ciel - zdroj

Operandy:

        reg, reg
        reg, mem
        mem, reg
        reg, imm
        mem, imm

Príznaky:

        O D I T S Z A P C
        + + + + + +

Príklad:

        MOV eax, 22    ; do registra EAX vlozime cislo 22
        MOV ecx, 8     ; do registra ECX vlozime cislo 8
        SUB eax, ecx   ; vypocitame EAX = EAX - ECX

            </pre>
            <app-copy-button [sourceElement]="sub"></app-copy-button>
        </div>
    </article>
    <article id="inc" class="assignment">
        <h2 class="student-page-h2-title">{{ t('instructions.inc.title') }}</h2>
        <span [innerHTML]="t('instructions.inc.description')"></span>
        <div class="copy-code">
            <pre #inc>


INC zdroj ; zdroj = zdroj + 1

Operandy:

        reg
        mem

Príznaky:

        O D I T S Z A P C
        + + + + +

Popis: Inštrukcia zväčší obsah operandu o jednotku. Je to rýchlejšie ako ADD zdroj,1.

Príklad:

        MOV eax, 22    ; do registra EAX vlozime cislo 22
        INC eax        ; teraz EAX = 22 + 1

            </pre>
            <app-copy-button [sourceElement]="inc"></app-copy-button>
        </div>
    </article>
    <article id="dec" class="assignment">
        <h2 class="student-page-h2-title">{{ t('instructions.dec.title') }}</h2>
        <span [innerHTML]="t('instructions.dec.description')"></span>
        <div class="copy-code">
            <pre #dec>


DEC zdroj ; zdroj = zdroj - 1

Operandy:

        reg
        mem

Príznaky:

        O D I T S Z A P C
        + + + + +

Príklad:

        MOV eax, 22    ; do registra EAX vlozime cislo 22
        SUB eax        ; teraz EAX = 22 - 1

            </pre>
            <app-copy-button [sourceElement]="dec"></app-copy-button>
        </div>
    </article>
    <article id="shl" class="assignment">
        <h2 class="student-page-h2-title">{{ t('instructions.shl.title') }}</h2>
        <span [innerHTML]="t('instructions.shl.description')"></span>
        <div class="copy-code">
            <pre #shl>


SHL zdroj,pocet ; zdroj = zdroj&lg;&lg;pocet

Operandy:

        reg,CL
        mem,CL

Príznaky:

        O D I T S Z A P C
        + + +

Príklad:

        MOV eax, 22    ; do registra EAX vlozime cislo 22
        SHL eax, 1     ; teraz EAX = 22&lg;&lg;1, teda 44.
            </pre>
            <app-copy-button [sourceElement]="shl"></app-copy-button>
        </div>
    </article>
    <article id="shr" class="assignment">
        <h2 class="student-page-h2-title">{{ t('instructions.shr.title') }}</h2>
        <span [innerHTML]="t('instructions.shr.description')"></span>
        <div class="copy-code">
            <pre #shr>


SHR zdroj,pocet ; zdroj = zdroj>>pocet

Operandy:

        reg,CL
        mem,CL

Príznaky:

        O D I T S Z A P C
        + + +

Príklad:

        MOV eax, 22    ; do registra EAX vlozime cislo 22
        SHR eax, 1     ; teraz EAX = 22>>1, teda 11.

            </pre>
            <app-copy-button [sourceElement]="shr"></app-copy-button>
        </div>
    </article>
    <article id="cmp" class="assignment">
        <h2 class="student-page-h2-title">{{ t('instructions.cmp.title') }}</h2>
        <span [innerHTML]="t('instructions.cmp.description')"></span>
        <div class="copy-code">
            <pre #cmp>


CMP ciel,zdroj ; ciel - zdroj

Operandy:

        reg, reg
        reg, mem
        mem, reg
        reg, imm
        mem, imm

Príznaky:

        O D I T S Z A P C
        + + + + + +

Príklad:

        MOV eax, 22    ; do registra EAX vlozime cislo 22
        MOV ecx, 8     ; do registra ECX vlozime cislo 8
        CMP eax,ecx    ; porovnaj EAX a ECX
        JZ niekam      ; ak su rovnake, skoc niekam 

            </pre>
            <app-copy-button [sourceElement]="cmp"></app-copy-button>
        </div>
    </article>
    <article id="jz" class="assignment">
        <h2 class="student-page-h2-title">{{ t('instructions.jz.title') }}</h2>
        <span [innerHTML]="t('instructions.jz.description')"></span>
        <div class="copy-code">
            <pre #jmp1>


JZ navestie ; if (ZF==1) goto navestie
JE navestie ; if (ZF==1) goto navestie

Operandy:

        lab

Príznaky:

        O D I T S Z A P C

Príklad:

        MOV eax, 22    ; do registra EAX vlozime cislo 22
        MOV ecx, 8     ; do registra ECX vlozime cislo 8
        CMP eax,ecx    ; porovnaj EAX a ECX
        JE niekam      ; ak su rovnake, skoc niekam
        …            ; tu pokracuje program ak EAX != ECX
        niekam: …    ; tu pokracuje program ak EAX == ECX

            </pre>
            <app-copy-button [sourceElement]="jmp1"></app-copy-button>
        </div>
    </article>
    <article id="jg" class="assignment">
        <h2 class="student-page-h2-title">{{ t('instructions.jg.title') }}</h2>
        <span [innerHTML]="t('instructions.jg.description')"></span>
        <div class="copy-code">
            <pre #jmp2>


JG navestie ; if (SF==OF && ZF==0) goto navestie
JNLE navestie ; if (SF==OF && ZF==0) goto navestie

Operandy:

        lab

Príznaky:

        O D I T S Z A P C

Príklad:

        MOV eax, 22    ; do registra EAX vlozime cislo 22
        MOV ecx, 8     ; do registra ECX vlozime cislo 8
        CMP eax,ecx    ; porovnaj EAX a ECX
        JG niekam      ; ak je EAX > ECX, skoc niekam
        …              ; tu pokracuje program ak EAX &lg;= ECX
        niekam: …      ; tu pokracuje program ak EAX > ECX

            </pre>
            <app-copy-button [sourceElement]="jmp2"></app-copy-button>
        </div>
    </article>
    <article id="jmp" class="assignment">
        <h2 class="student-page-h2-title">{{ t('instructions.jmp.title') }}</h2>
        <span [innerHTML]="t('instructions.jmp.description')"></span>
        <div class="copy-code">
            <pre #jmp3>
JMP ciel ; goto ciel

Operandy:

        ciel

Príznaky:

        O D I T S Z A P C

Príklad:

        JMP niekam     ; skoc niekam
        …              ; toto preskocime
        niekam: …      ; tu pokracuje program
            </pre>
            <app-copy-button [sourceElement]="jmp3"></app-copy-button>
        </div>
    </article>
    <article id="cpuid" class="assignment">
         <h2 class="student-page-h2-title">{{ t('instructions.cpuid.title') }}</h2>
<span [innerHTML]="t('instructions.cpuid.description')"></span>
<div class="copy-code">
            <pre #cpuid>
CPUID ; ebx,ecx,edx = VendorString

Operandy:

Príznaky:

        O D I T S Z A P C

Príklad:

        MOV eax, 0    ; do registra EAX vlozime 0
        CPUID         ; volanie funkcie CPUid
            </pre>
            <app-copy-button [sourceElement]="cpuid"></app-copy-button>
        </div>
    </article>
    <article id="nop" class="assignment">
        <h2 class="student-page-h2-title">{{ t('instructions.nop.title') }}</h2>
<span [innerHTML]="t('instructions.nop.description')"></span>
<div class="copy-code">
            <pre #nop>
NOP ; nerobim nic

Operandy:

        žiadne

Príznaky:

        O D I T S Z A P C
        - - - - - - - - -

Príklad:

        OUT 44, AX    ; na port 44 zapisem obsah registra AX
        NOP           ; chvilu pockam, lebo viem, ze je pomaly
        OUT 44, BX    ; na port 44 zapisem druhe cislo z registra BX 
            </pre>
            <app-copy-button [sourceElement]="nop"></app-copy-button>
        </div>
    </article>
</main>