<main class="main-student" *transloco="let t; read: 'blok2-asm13'">
    <article
        class="assignment">
        <h1 class="student-page-h1-title">
            {{ t('title') }}
        </h1>
        <section [innerHTML]="t('info.intro')"></section>
        <div
            class="copy-code">
            <pre #conio>

#include &lg;conio.h&gt; // V tejto kniznici najdete co potrebujete
#include &lg;stdio.h&gt;

int main()
&#123;
      char ch;

      do
      &#123;
           if(kbhit())                        // Ak je nieco stlacene
           &#123; 
                ch = getch();                 // Tak to nacitame do ch
                switch(ch)                    // A potom testujeme… 

                &#123;
                   case '1': printf(“Ahoj”);  // Ak ch == '1' => Ahoj
                             break;
                   case '2': printf(“Hello”); // Ak ch == '2' => Hello
                             break;
                   case 13 : printf(“\n”);    // Finta s koncom riadku
                             break;
                   default: printf(“%c”,ch);  // Inac zobraz pismenko
                &#125;
           &#125;
      &#125; while(ch != 27); // Stale dokola, az po &lg;ESC&gt;

      printf(“\n\nKoniec…\n\n”);
      return 0;
&#125;

            </pre>
            <app-copy-button [sourceElement]="conio"></app-copy-button>
        </div>
        <section class="space-y-4" [innerHTML]="t('info.warning')"></section>
        <section class="space-y-4" [innerHTML]="t('info.special_keys')"></section>
<section class="space-y-4" [innerHTML]="t('info.enter_key')"></section>
<section class="space-y-4" [innerHTML]="t('info.tip')"></section>
    </article>
</main>