<main class="main-student" *transloco="let t; read: 'blok2-asm7'">
    <article class="assignment">
        <h2 class="student-page-h2-title">
            {{ t('title') }}
        </h2>
        <section [innerHTML]="t('info.history')">
        </section>
    </article>
    <article class="assignment">
        <h2 class="student-page-h2-title">
            {{ t('devices.title') }}
        </h2>
        <section [innerHTML]="t('devices.description')">
        </section>
        <div class="copy-code">
            <pre #text01>
open / close
play / pause / stop
status / set
            </pre>
            <app-copy-button [sourceElement]="text01"></app-copy-button>
        </div>
        <section [innerHTML]="t('devices.test_program')">
        </section>
        <h2 class="student-page-h2-title">
            {{ t('examples.title') }}
        </h2>
<span [innerHTML]="t('examples.intro_video')"></span>
        <div class="copy-code">
            <pre #text02>
open mys.mpg alias file1   — otvoríte súbor, zároveň zistíte, či sa dá
play file1                 — začne sa prehrávať od začiatku
pause file1                — prestávka
play file1                 — pokračujeme
close file 1               — skončíme
            </pre>
            <app-copy-button [sourceElement]="text02"></app-copy-button>
        </div>
<span [innerHTML]="t('examples.intro_cd')"></span>
<div class="copy-code">
            <pre #text03>
open cdaudio               — otvoríte zariadenie, zistíte, či sa dá
play cdaudio               — začne sa prehrávať prvá skladba na CD
pause cdaudio              — prestávka
play cdaudio               — pokračujeme

status cdaudio position    — otázka, kde sme?
01:15:25                     pozor, nie je to hh:mm:ss, ale:

status cdaudio time format
msf                        = minutes-seconds-frames
                            Vo formáte cdaudio býva 75 frames za sekundu,
                            teda číslo môže byť 0-74.

status cdaudio length
39:28:19                   — celková dĺžka albumu

status cdaudio number of tracks
8                          — koľko skladieb tam je

status cdaudio length track 5
04:30:22                   — aká je dlhá 5. skladba (číslujú sa od jednotky)

status cdaudio position track 5
17:36:35                   — kde začína skladba 5
                             teda končí 17:36:35+04:30:22 = 22:06:57 overte to:

status cdaudio position track 6

play cdaudio from 17:36:35 to 22:06:57 — zahrá len 5. skladbu

                           — Lepší je niekedy formát času v tvare tracks-minutes-  seconds-frames

set cdaudio format tmfs    — potom môžeme písať

play cdaudio from 5:0:0:0 to 6:0:0:0 — alebo len

play cdaudio from 5 to 6

                           — Každý príkaz môže mať na konci ešte wait alebo notify.

play cdaudio from 5:0:0 to 6:0:10 wait
                           — tento príkaz sa skončí až po skončení
prehrávania, t.j. po 10 sekundách

Aby ste mohli prehrávanie predsa len prerušiť, nastavte si najprv
break cdaudio on 27        — prerušovacia klávesa bude 27 = .

play cdaudio from 5:0:0 to 6:0:10 notify
                           — tento príkaz sa skončí hneď, ale po
                             skončení prehrávania, t.j. po 10
                             sekundách, o tom pošle správu.

Keď vás to prestane baviť, napíšete

stop cdaudio               — zastavenie prehrávania
eject cdaudio              — vysunie CD, nemusí fungovať
close cdaudio              — ukončenie práce so zariadením.

status cdaudio mode        — zistí, či sa ešte stále prehráva
status cdaudio position    — ak áno, kde sme teraz?    

            </pre>
            <app-copy-button [sourceElement]="text03"></app-copy-button>
        </div>
        <section [innerHTML]="t('examples.c_program')"></section>
        <div class="copy-code">
            <pre #text04>
mciSendString(“open CDAudio”, NULL, 0, NULL);          // otvor pristup k zariadeniu
mciSendString(“set CDAudio door open”, NULL, 0, NULL); // otvor dvierka
mciSendString(“close CDAudio”, NULL, 0, NULL);         // ukonci pristup k zariadeniu

            </pre>
            <app-copy-button [sourceElement]="text04"></app-copy-button>
        </div>
    </article>
</main>