<main class="main-student" *transloco="let t; read: 'first_exercise'">
    <h1 class="student-page-h1-title">
        {{ t('title') }}
    </h1>
    <article class="student-info-block">
        <section [innerHTML]="t('info.intro')">
        </section>
        <section class="important-div" [innerHTML]="t('info.warning')">
        </section>
        <section class="space-y-2"> {{ t('info.step_1') }}
            <img class="student-img" src="images/prve_cvicenie1.png" alt="file explorer" width="794" height="367"(click)="modalService.open('images/prve_cvicenie1.png')">
            {{ t('info.step_2') }}
            <img class="student-img" src="images/prve_cvicenie2.png" alt="príkaz do konzoly" width="973" height="393" (click)="modalService.open('images/prve_cvicenie2.png')">
            {{ t('info.step_3') }}
            <img class="student-img" src="images/prve_cvicenie3.png" alt="kód v notepade" width="936" height="451" (click)="modalService.open('images/prve_cvicenie3.png')">
            {{ t('info.step_4') }}
            <img class="student-img" src="images/prve_cvicenie4.png" alt="príkaz do konzoly" width="978" height="442" (click)="modalService.open('images/prve_cvicenie4.png')">
            {{ t('info.step_5') }}
            <img class="student-img" src="images/prve_cvicenie5.png" alt="obsah adresára" width="960" height="240" (click)="modalService.open('images/prve_cvicenie5.png')">
            {{ t('info.step_6') }}
            <img class="student-img" src="images/prve_cvicenie6.png" alt="výstup programu v konzole" width="981" 
                height="60" (click)="modalService.open('images/prve_cvicenie6.png')">
            {{ t('info.step_7') }}
            <img class="student-img" src="images/prve_cvicenie7.png" alt="kód v notepade" width="938" height="403" (click)="modalService.open('images/prve_cvicenie7.png')">
            {{ t('info.step_8') }}
            <img class="student-img" src="images/prve_cvicenie8.png" alt="výstup programu v konzole" width="977"
                height="483" (click)="modalService.open('images/prve_cvicenie8.png')">
            {{ t('info.step_9') }}
        </section>
    </article>
</main>