<main class="main-student" *transloco="let t; read: 'blok2'">
    <h1 class="student-page-h1-title">
        {{ t('title') }}
    </h1>>
    <article class="student-info-block">
        <section>
            <h3 class="student-page-h3-title" [innerHTML]="t('intro.vs_community.title')"></h3>
            <span [innerHTML]="t('intro.vs_community.text')"></span><a rel="noopener noreferrer" class="student-link"
                href="https://visualstudio.microsoft.com/vs/community/"><span
                    [innerHTML]="t('intro.vs_community.link_text')"></span>
            </a>


        </section>
        <section>
            <h3 class="student-page-h3-title" [innerHTML]="t('intro.task_for_everyone.title')"></h3>
            <span [innerHTML]="t('intro.task_for_everyone.text_1')"></span><a rel="noopener noreferrer"
                class="student-link"
                href="https://learn.microsoft.com/en-us/visualstudio/debugger/debugger-feature-tour?view=vs-2022">návod.
            </a><br>
            <span [innerHTML]="t('intro.task_for_everyone.text_2')"></span><br>
        </section>
        <section>
            <span [innerHTML]="t('intro.description')"></span><br>
        </section>
        <section>
            <h3 class="student-page-h3-title" [innerHTML]="t('intro.note.title')"></h3>
            <span [innerHTML]="t('intro.note.text')"></span><br>
        </section>
    </article>
    <section class="section-title">

        <h2 class="student-page-h2-title" [innerHTML]="t('sections.cpu.title')"></h2>

        <p class="italic text-green-400">
            {{ t('sections.cpu.subtitle') }}
        <div class="img-spacing">
            <img class="student-img" src="images/cpu1.jpg" alt="obrázok procesora">
            <img class="student-img" src="images/cpu2.jpg" alt="obrázok procesora spredu aj zozadu">
        </div>
    </section>


    <article class="assignment">
        <div class="assignment-div">
            <h3 class="student-page-h2-title">{{ t('tasks.task_2_1_1.title') }}</h3><span
                class="student-assignment-point">{{ t('tasks.task_2_1_1.points') }}</span>
        </div>
        <section>
            <span [innerHTML]="t('tasks.task_2_1_1.description')"></span>
        </section>
        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <span class="important-text" [innerHTML]="t('tasks.task_2_1_1.tip.text1')"></span>
            <a rel="noopener noreferrer" class="student-link" routerLink="../blok2-asm1">{{
                t('tasks.task_2_1_1.tip.link_text') }}</a>
            <span class="important-text" [innerHTML]="t('tasks.task_2_1_1.tip.text2')"></span>
        </section>
        <section class="space-y-4" [innerHTML]="t('ui.sources')"></section>
        <section class="space-y-4">
            <a rel="noopener noreferrer" class="student-link" routerLink="../blok2-asm2">{{
                t('tasks.task_2_1_1.source.link_text1') }}</a><br>
            <a rel="noopener noreferrer" class="student-link" routerLink="../blok2-asm3">{{
                t('tasks.task_2_1_1.source.link_text2') }}</a>
        </section>
    </article>
    <article class="assignment">
        <div class="assignment-div">
            <h3 class="student-page-h2-title">{{ t('tasks.task_2_1_2.title') }}</h3><span
                class="student-assignment-point">{{ t('tasks.task_2_1_2.points') }}</span>
        </div>
        <section>
            <span [innerHTML]="t('tasks.task_2_1_2.description')"></span>
        </section>
        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <span class="important-text" [innerHTML]="t('tasks.task_2_1_2.tip.text1')"></span>
            <a rel="noopener noreferrer" class="student-link "
                routerLink="../blok2-asm1">{{t('tasks.task_2_1_2.tip.link_text') }}</a>
            <span class="important-text" [innerHTML]="t('tasks.task_2_1_2.tip.text1')"></span>
        </section>
    </article>
    <article class="assignment">
        <div class="assignment-div">
            <h3 class="student-page-h2-title">{{ t('tasks.task_2_1_3.title') }}</h3><span
                class="student-assignment-point">{{ t('tasks.task_2_1_3.points') }}</span>
        </div>
        <span [innerHTML]="t('tasks.task_2_1_3.description')"></span><br>
        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <span class="important-text" [innerHTML]="t('tasks.task_2_1_3.tip_1')"></span>
        </section>
        <section>
            {{t('tasks.task_2_1_3.code')}}</section>
        <section>
            <span class="important-text" [innerHTML]="t('tasks.task_2_1_3.tip_2.text1')"></span>
            <a rel="noopener noreferrer" class="student-link"
                routerLink="../blok2-asm1">{{t('tasks.task_2_1_3.tip_2.link_text') }}</a>
            <span class="important-text" [innerHTML]="t('tasks.task_2_1_3.tip_2.text2')"></span>
        </section>
    </article>
    <article class="assignment">
        <div class="assignment-div">
            <h3 class="student-page-h2-title">{{ t('tasks.task_2_1_4.title') }}</h3><span
                class="student-assignment-point">{{ t('tasks.task_2_1_4.points') }}</span>
        </div>
        <section>
            <span [innerHTML]="t('tasks.task_2_1_4.description')"></span>
        </section>
        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <span class="important-text" [innerHTML]="t('tasks.task_2_1_4.tip')"></span>
        </section>
        <section>
            <span [innerHTML]="t('tasks.task_2_1_4.note')"></span>
        </section>
        <section class="space-y-4" [innerHTML]="t('ui.sources')"></section>
        <section class="space-y-4">
            <a rel="noopener noreferrer" class="student-link" routerLink="../blok2-asm4">{{
                t('tasks.task_2_1_4.source.link_text1') }}</a><br>
            <a rel="noopener noreferrer" class="student-link" routerLink="../blok2-asm5">{{
                t('tasks.task_2_1_4.source.link_text2') }}</a>
            <span [innerHTML]="t('tasks.task_2_1_4.source.link_text3')"></span>
        </section>
    </article>
    <section class="assignment">

        <h2 class="student-page-h2-title" [innerHTML]="t('sections.ram.title')"></h2>

        <p class="italic text-green-400">
            {{ t('sections.ram.subtitle') }}</p>
        <div class="img-spacing">
            <img class="student-img" src="images/ram1.jpg" alt="obrázok RAM pamätí">
            <img class="student-img" src="images/ram2.jpg  " alt="obrázok RAM pamätí v matičnej doske">
        </div>
    </section>
    <article class="assignment">
        <div class="assignment-div">
            <h3 class="student-page-h2-title">{{ t('tasks.task_2_2.title') }}</h3><span
                class="student-assignment-point">{{ t('tasks.task_2_2.points') }}</span>
        </div>
        <section>
            <span [innerHTML]="t('tasks.task_2_2.description')"></span>
        </section>
        <section class="space-y-4">
            <span [innerHTML]="t('tasks.task_2_2.source')"></span>
        </section>
    </article>
    <section class="assignment">
        <h2 class="student-page-h2-title" [innerHTML]="t('sections.hdd.title')"></h2>

        <p class="italic text-green-400">
            {{ t('sections.hdd.subtitle') }}
        </p>
        <div class="img-spacing">
            <img class="student-img" src="images/hdd1.jpg" alt="obrázok HDD pripojené k PC">
            <img class="student-img" src="images/hdd2.jpg" alt="HDD">
        </div>
    </section>
    <article class="assignment">
        <div class="assignment-div">
            <h3 class="student-page-h2-title">{{ t('tasks.task_2_3_1.title') }}</h3><span
                class="student-assignment-point">{{ t('tasks.task_2_3_1.points') }}</span>
        </div>
        <span [innerHTML]="t('tasks.task_2_3_1.description')"></span>
        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <span class="important-text" [innerHTML]="t('tasks.task_2_3_1.tip_1')"></span>
        </section>
        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <span class="important-text space-y-2" [innerHTML]="t('tasks.task_2_3_1.tip_2.text')"></span>
            <a rel="noopener noreferrer" class="student-link" routerLink="../blok2-asm6">{{
                t('tasks.task_2_3_1.tip_2.link_text') }}</a>.
        </section>
        <section class="">
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <span class="important-text" [innerHTML]="t('tasks.task_2_3_1.tip_3')"></span>
        </section>
        <section class="space-y-4" [innerHTML]="t('tasks.task_2_3_1.source')">
        </section>
    </article>
    <article class="assignment">
        <div class="assignment-div">
            <h3 class="student-page-h2-title">{{ t('tasks.task_2_3_2.title') }}</h3><span
                class="student-assignment-point">{{ t('tasks.task_2_3_2.points') }}</span>
        </div>
        <section>
            <span [innerHTML]="t('tasks.task_2_3_2.description')"></span>
            <section>
                <span class="important-icon">{{ t('ui.tip') }} </span>
                <span class="important-text" [innerHTML]="t('tasks.task_2_3_2.tip_1')"></span>
            </section>
            <section>
                <span class="important-icon">{{ t('ui.tip') }} </span>
                <span class="important-text" [innerHTML]="t('tasks.task_2_3_2.tip_2')"></span>
            </section>
            <section>
                <span class="important-icon">{{ t('ui.tip') }} </span>
                <span class="important-text" [innerHTML]="t('tasks.task_2_3_2.tip_3')"></span>
            </section>

        </section>

    </article>
    <article class="assignment">
        <div class="assignment-div">
            <h3 class="student-page-h2-title">{{ t('tasks.task_2_3_3.title') }}</h3><span
                class="student-assignment-point">{{ t('tasks.task_2_3_3.points') }}</span>
        </div>
        <section [innerHTML]="t('tasks.task_2_3_3.description')"></section>
        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <span class="important-text" [innerHTML]="t('tasks.task_2_3_3.tip_1')"></span>
        </section>
        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <span class="important-text" [innerHTML]="t('tasks.task_2_3_3.tip_2')"></span>
        </section>
    </article>
    <section class="assignment">

        <h2 class="student-page-h2-title" [innerHTML]="t('sections.media.title')"></h2>

        <p class="italic text-green-400">
            {{ t('sections.media.subtitle') }} </p>
        <div class="img-spacing">
            <img class="student-img" src="images/zav1.jpg" alt="obrázok zvuku">
            <img class="student-img" src="images/zav2.png" alt="obrázok filmového štábu">
        </div>
    </section>

    <article class="assignment">
        <div class="assignment-div">
            <h3 class="student-page-h2-title">{{ t('tasks.task_2_4.title') }}</h3><span
                class="student-assignment-point">{{ t('tasks.task_2_4.points') }}</span>
        </div>
        <section>
            <span [innerHTML]="t('tasks.task_2_4.description.text1')"></span>
            <a class="student-link" routerLink="../blok2-asm7">{{ t('tasks.task_2_4.description.link_text') }}</a>.
            <span [innerHTML]="t('tasks.task_2_4.description.text2')"></span>
        </section>
        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <span class="important-text" [innerHTML]="t('tasks.task_2_4.tip_1')"></span>
        </section>
        <section>
            <span class="important-icon">{{ t('ui.warning') }} </span>
            <span class="important-text" [innerHTML]="t('tasks.task_2_4.warning')"></span>
        </section>
        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <span class="important-text" [innerHTML]="t('tasks.task_2_4.tip_2')"></span>
        </section>

        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <span class="important-text" [innerHTML]="t('tasks.task_2_4.tip_3')"></span>
        </section>
        <section class="space-y-4" [innerHTML]="t('tasks.task_2_4.source')">
        </section>
        <a rel="noopener noreferrer" class="student-link" routerLink="../blok2-asm8">{{ t('tasks.task_2_4.support')
            }}</a>
    </article>
    <section class="assignment">

        <h2 class="student-page-h2-title" [innerHTML]="t('sections.pixel.title')"></h2>

        <p class="italic text-green-400">
            {{ t('sections.pixel.subtitle') }} </p>
        <div class="img-spacing">
            <img class="student-img" src="images/pixel1.jpg" alt="obrázok pixelov v monitory">
        </div>
    </section>
    <article class="assignment">
        <div class="assignment-div">
            <h3 class="student-page-h2-title">{{ t('tasks.task_2_5_1.title') }}</h3><span
                class="student-assignment-point">{{ t('tasks.task_2_5_1.points') }}</span>
        </div>
        <span [innerHTML]="t('tasks.task_2_5_1.description')"></span>
        <img class="student-img" src="images/uloha2.5.1.png" alt="správny Výstup  v konzole">
        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <span class="important-text" [innerHTML]="t('tasks.task_2_5_1.tip_1')"></span>
        </section>
        <section [innerHTML]="t('tasks.task_2_5_1.text')"></section>
        <section [innerHTML]="t('tasks.task_2_5_1.text2')">
        </section>
        <section [innerHTML]="t('tasks.task_2_5_1.text3')"></section>

        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <span class="important-text" [innerHTML]="t('tasks.task_2_5_1.tip_2')"></span>
        </section>
        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <a rel="noopener noreferrer" class="student-link" routerLink="../blok2-asm11">{{
                t('tasks.task_2_5_1.tip_3.link_text') }}</a>
            <span class="important-text" [innerHTML]="t('tasks.task_2_5_1.tip_3.text')"></span>
        </section>
        <section class="space-y-4">
            <span [innerHTML]="t('ui.sources')"></span>
            <a rel="noopener noreferrer" class="student-link" routerLink="../blok2-asm9">{{
                t('tasks.task_2_5_1.source_link') }}</a>
            <span class="space-y-4" [innerHTML]="t('tasks.task_2_5_1.source_text')"></span>
        </section>
    </article>
    <article class="assignment">
        <div class="assignment-div">
            <h3 class="student-page-h2-title">{{ t('tasks.task_2_5_2.title') }}</h3><span
                class="student-assignment-point">{{ t('tasks.task_2_5_2.points') }}</span>
        </div>
        <section [innerHTML]="t('tasks.task_2_5_2.description')"></section>
        <img class="student-img" src="images/uloha2.5.2.png" alt="približný výstup v konzole">
        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <span class="important-text" [innerHTML]="t('tasks.task_2_5_2.tip')"></span>
        </section>
        <section class="space-y-4">
            <span [innerHTML]="t('ui.sources')"></span>
            <a rel="noopener noreferrer" class="student-link" routerLink="../blok2-asm10">{{ t('tasks.task_2_5_2.source_link') }}</a>
            <span [innerHTML]="t('tasks.task_2_5_2.source_text')"></span>
        </section>
    </article>
    <section class="assignment">

        <h2 class="student-page-h2-title" [innerHTML]="t('sections.keyboard.title')"></h2>
        <div class="img-spacing">
            <img class="student-img" src="images/keyboard1.png" alt="obrázok klavesnice">
        </div>
    </section>
    <article class="assignment">
        <div class="assignment-div">
            <h3 class="student-page-h2-title">{{ t('tasks.task_2_6.title') }}</h3><span
                class="student-assignment-point">{{ t('tasks.task_2_6.points') }}</span>
        </div>
        <section>
            <span [innerHTML]="t('tasks.task_2_6.description')"></span>
        </section>
        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <a rel="noopener noreferrer" class="student-link" routerLink="../blok2-asm12">{{ t('tasks.task_2_6.tip_1_link') }}</a>
            <span class="important-text" [innerHTML]="t('tasks.task_2_6.tip_1')"></span>
        </section>

        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <a rel="noopener noreferrer" class="student-link" routerLink="../blok2-asm13">{{ t('tasks.task_2_6.tip_2_link') }}</a>
            <span class="important-text" [innerHTML]="t('tasks.task_2_6.tip_2')"></span>
        </section>
        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <span class="important-text" [innerHTML]="t('tasks.task_2_6.tip_3')"></span>
        </section>
        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <span class="important-text" [innerHTML]="t('tasks.task_2_6.tip_4')"></span>
        </section>
        <section>
            <span class="important-icon">{{ t('ui.tip') }} </span>
            <span class="important-text" [innerHTML]="t('tasks.task_2_6.tip_macos')"></span>
        </section>
        <section class="space-y-4">
            <span [innerHTML]="t('tasks.task_2_6.source.source_text')"></span>
            <a rel="noopener noreferrer" class="student-link" routerLink="../blok2-asm10">{{ t('tasks.task_2_6.source.source_link') }}</a>
            <span [innerHTML]="t('tasks.task_2_6.source.source_text2')"></span>
        </section>
    </article>
</main>