<main class="main-student" *transloco="let t; read: 'blok2-asm2'">
    <article
        class="assignment">
        <h1 class="student-page-h1-title">
           {{ t('title') }}
        </h1>
        <section class="space-y-4" [innerHTML]="t('info.description1')">
        </section>
        <section class="space-y-4" [innerHTML]="t('info.description2')">
        </section>
        <section class="space-y-4" [innerHTML]="t('info.description3')">
        </section>
        <section class="space-y-4" [innerHTML]="t('info.description4')">
        </section>
        <section class="space-y-4" [innerHTML]="t('info.description5')">
        </section>
        <section class="space-y-4" [innerHTML]="t('info.description6')">
        </section>
        <section class="space-y-4" [innerHTML]="t('info.description7')">
        </section>
</article>
</main>