<main class="main-student" *transloco="let t; read: 'manuals'">
    <h1 class="student-page-h1-title">
        {{ t('title') }}
    </h1>
    <article class="student-info-block">
        <section [innerHTML]="t('gcc_setup.intro')"></section>
        <section>
            <ol class="list" [innerHTML]="t('gcc_setup.steps')">
            </ol>
        </section>
        <section>
            <h2 class="student-page-h2-title"> {{ t('visual_studio_setup.title') }} </h2>
{{ t('visual_studio_setup.step_1') }} 
            <img class="student-img" src="images/manual1.png" alt="postup je 1." width="768" height="400">
{{ t('visual_studio_setup.step_2') }} 
            <img class="student-img" src="images/manual2.png" alt="postup je 2." width="768" height="439">
{{ t('visual_studio_setup.step_3') }} 
            <img class="student-img" src="images/manual3.png" alt="postup je 3." width="765" height="351">
        </section>
    </article>
</main>