<main class="main-student" *transloco="let t; read: 'blok2-asm10'">
    <article
        class="assignment">
        <h1 class="student-page-h1-title">
            {{ t('title') }}
        </h1>
        <section class="space-y-4" [innerHTML]="t('info.intro')"></section>
<section class="space-y-4" [innerHTML]="t('info.characters')"></section>
<section class="space-y-4" [innerHTML]="t('info.color')"></section>
<section class="space-y-4" [innerHTML]="t('info.position')"></section>
<section class="space-y-4" [innerHTML]="t('info.coordinates')"></section>   
</article>
</main>