<main class="main-student" *transloco="let t; read: 'blok2-asm9'">
    <article
        class="assignment">
        <h1 class="student-page-h1-title">
            {{ t('handle_section.title') }}
        </h1>
        <section [innerHTML]="t('handle_section.intro')"></section>
        <section [innerHTML]="t('handle_section.gdi')"></section>
        <section [innerHTML]="t('handle_section.hdc')"></section>
        <section [innerHTML]="t('handle_section.drawing')"></section>
        <h1 class="student-page-h1-title">
            {{ t('hungarian_notation_section.title') }}
        </h1>
        <section [innerHTML]="t('hungarian_notation_section.description')"></section>
        <div
            class="copy-code">
            <pre #handle>
c   char
n   short
i   int
w   WORD (unsigned short)
dw  DWORD (unsigned long)
by  BYTE
b   BOOL (int)
f   BOOL (int)
fp  float
s   reťazec (char *)
sz  reťazec ukončený nulou
h   handle
p   smerník (pointer)
fn  funkcia
            </pre>
            <app-copy-button [sourceElement]="handle"></app-copy-button>
        </div>
    </article>
</main>