<main class="main-student" *transloco="let t; read: 'rules'">
    <h1 class="student-page-h1-title">
        {{ t('title') }}
    </h1>
    <article class="student-info-block">
        <section [innerHTML]="t('general_rules')"></section>
        <section class="space-y-4">
            <h2 class="student-page-h2-title"> {{ t('grading.title') }}</h2>
            <section [innerHTML]="t('grading.blocks')"></section>
            <span [innerHTML]="t('grading.submission_intro')"></span>
            <section [innerHTML]="t('grading.submission_steps')"></section>
        </section>
        <section [innerHTML]="t('plagiarism_warning')"></section>
        <section>
            <h2 class="student-page-h2-title"> {{ t('physical_submission.title') }}</h2>
            <span [innerHTML]="t('physical_submission.description')"></span>
        </section>
    </article>
</main>