<main class="main-student">
    <h1
        class="student-page-h1-title">
        Pravidlá
    </h1>
    <article
        class="student-info-block">
        <section>
            <strong>!!! Počas cvičení je zakázané používať sociálne siete a AI!!!</strong><br>

            Cvičenia pozostávajú z troch blokov, pričom prvý trvá štyri týždne, druhý päť a tretí 3 týždne semestra. Na
            získanie
            zápočtu musíte z každého bloku získať aspoň polovicu z maximálneho počtu bodov.<br>

            <strong>Účasť na cvičeniach je povinná.<br>
                Absencia a nahrádzanie cvičenia je možné len pre chorobu (v iných výnimočných prípadoch kontaktujte
                svojho
                cvičiaceho vopred).<br>
                V prípade absencie si cvičenie musíte nahradiť v inom termíne (ak máte legitímne ospravedlnenie od
                lekára v
                AIS-e).</strong>
        </section>
        <section class="space-y-4">
            <h2 class="student-page-h2-title">Bodové hodnotenie cvičení:</h2>
            <section>
                Úlohy z prvého bloku (1. - 4. týždeň): 10 + 2 (za úvodné cvičenie) bodov (musíte získať aspoň 6)<br>

                Úlohy z druhého bloku (5. - 9. týždeň): 16 bodov (musíte získať aspoň 8)<br>

                Úlohy z tretieho bloku (10. - 12. týždeň): 12 bodov (musíte získať aspoň 6)<br>
            </section>
            Body získavate priebežne za odovzdávanie zadaní počas cvičení. Odovzdanie prebieha nasledovne:
            <section>
                a) Pre danú úlohu si prichystáte odladený a funkčný zdrojový kód.<br>
                b) Zavoláte cvičiaceho a odprezentujete mu svoje riešenie. Musí ísť o Váš vlastný kód, musíte mu
                rozumieť a
                vedieť
                ho vysvetliť.<br>
                c) Cvičiaci sa Vás môže spýtať doplňujúce otázky k Vášmu riešeniu.<br>
                d) Na záver sa Vás spýta jednu alebo viac otázok (sekcia Kontrolné otázky) uvedených na webe. Ak
                nebudete
                vedieť<br>
                odpovedať riskujete stratu bodov.<br>
                e) Cvičiaci Vám udelí body, príp. navrhne prepracovanie časti zadania, aby ste mohli získať plný
                počet.<br>
            </section>
        </section>
        <section>
            <strong>Na každom cvičení musíte odovzdať aspoň jedno zadanie.<br>
                Mať funkčný kód, ktorému nerozumiete vôbec nestačí, práve naopak, jedná sa o plagiát. Plagiátorstvo je
                penalizované!
                Nula bodov získa ten, kto zadanie poskytol, aj ten kto použil cudzí kód.</strong>
        </section>
        <section>

            <h2 class="student-page-h2-title">Fyzické odovzdávanie zdrojových kódov:</h2>
            Na záver každého bloku odovzdáte Vaše zdrojové kódy prostredníctvom AIS. Odovzdávate len jeden .c súbor za
            celý daný
            blok. Žiadne .zip alebo .sln súbory. V AIS bude uvedený deadline odovzdania. Nezabudnite odovzdať včas, inak
            prídete
            o body!<br>

            <strong>Po skončení semestra prebehne anti-plagiátorská kontrola. V prípade, že dvaja študenti budú mať
                zhodné
                zdrojové kódy
                (okrem prípadu najjednoduchších zadaní), prídu obaja študenti o všetky body.</strong>
        </section>
    </article>
</main>